header.header
    .logo-place.sanimate.fadeInLeft(data-delay='200ms' data-duration="500ms" data-timing='ease-in-out')
        a.logo(href='index.html' aria-label="логтип Нафтогаз Трейдінг")
            img(src="./img/naftogaz-logo.svg", alt="")
    .menu-block
        .menu-button#nav-icon
            span
            span
            span
        ul.header-menu
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Про нас") Про нас
            li.header-menu_item.dropup.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Для кліентів") Для кліентів
                ul.sub-menu
                        li
                            a(href='https://zaslavskayasya.github.io/tradin/dist/producers.html' aria-label="Для ТКЕ") Для ТКЕ
                        li
                            a(href='https://zaslavskayasya.github.io/tradin/dist/osbb.html' aria-label="Для ОСББг") Для ОСББ
                        li.active    
                            a(href='https://zaslavskayasya.github.io/tradin/dist/factory.html' aria-label="Для промислових підприємств") Для промислових підприємств
                        li
                            a(href=' https://zaslavskayasya.github.io/tradin/dist/clients.html' aria-label="Для бюджетних організацій") Для бюджетних організацій
                        li 
                            a(href='https://zaslavskayasya.github.io/tradin/dist/religion.htm' aria-label="Для релігійних організацій") Для релігійних організацій
            li.header-menu_item.dropup.active.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Документи") Документи
                ul.sub-menu
                        li
                            a(href='https://zaslavskayasya.github.io/tradin/dist/documents.html' aria-label="Нормативні документи") Нормативні документи
                        li
                            a(href='https://zaslavskayasya.github.io/tradin/dist/argue.html' aria-label="Вирішення спорів") Вирішення спорів
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="https://zaslavskayasya.github.io/tradin/dist/buy.html" aria-label="Закупівлі") Закупівлі
            li.header-menu_item.dropup.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="https://zaslavskayasya.github.io/tradin/dist/news.html" aria-label="Новини") Новини
                //- ul.sub-menu
                //-         li 
                //-             a(href='#' aria-label="Для ТКЕ") Для ТКЕ
                //-         li
                //-             a(href='#' aria-label="Для ОСББ") Для ОСББ
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="https://zaslavskayasya.github.io/tradin/dist/contact.html" aria-label="Контакти") Контакти