header.header
    .logo-place.sanimate.fadeInLeft(data-delay='700ms' data-duration="800ms" data-timing='ease-in-out')
        a.logo(href='index.html' aria-label="логтип Нафтогаз Трейдінг")
            img(src="./img/naftogaz-logo.svg", alt="")
    .menu-block
        .menu-button#nav-icon
            span
            span
            span
        ul.header-menu
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Про нас") Про нас
            li.header-menu_item.dropup.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Для кліентів") Для кліентів
                ul.sub-menu
                        li
                            a(href='#' aria-label="Для ТКЕ") Для ТКЕ
                        li
                            a(href='#' aria-label="Для ОСББг") Для ОСББ
                        li.active    
                            a(href='#' aria-label="Для промислових підприємств") Для промислових підприємств
                        li
                            a(href='#' aria-label="Для бюджетних організацій") Для бюджетних організацій
                        li 
                            a(href='#' aria-label="Для релігійних організацій") Для релігійних організацій
            li.header-menu_item.dropup.active.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Документи") Документи
                ul.sub-menu
                        li
                            a(href='documents.html' aria-label="Нормативні документи") Нормативні документи
                        li
                            a(href='argue.html' aria-label="Вирішення спорів") Вирішення спорів
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Закупівлі") Закупівлі
            li.header-menu_item.dropup.has_childrens.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Новини") Новини
                ul.sub-menu
                        li 
                            a(href='#' aria-label="Для ТКЕ") Для ТКЕ
                        li
                            a(href='#' aria-label="Для ОСББ") Для ОСББ
            li.header-menu_item.sanimate.fadeInLeft
                a.header-menu_link(href="#" aria-label="Контакти") Контакти