header.header
    .logo-place
        a.logo(href='index.html')
            img(src="./img/naftogaz-logo.svg", alt="")
    .menu-block 
        .menu-button#nav-icon
            span
            span
            span
        ul.header-menu
            li.header-menu_item.has_childrens 
                a.header-menu_link(href="#") Про нас
            li.header-menu_item.has_childrens 
                a.header-menu_link(href="#") Для кліентів
            li.header-menu_item.dropup.active.has_childrens 
                a.header-menu_link(href="#") Документи
                ul.sub-menu
                        li                            
                            a(href='#') Для ТКЕ
                        li
                            a(href='#') Для ОСББ
                        li.active    
                            a(href='#') Для промислових підприємств
                        li
                            a(href='#') Для бюджетних організацій
                        li 
                            a(href='#') Для релігійних організацій

            li.header-menu_item 
                a.header-menu_link(href="#") Закупівлі
            li.header-menu_item 
                a.header-menu_link(href="#") Новини
            li.header-menu_item 
                a.header-menu_link(href="#") Контакти