@font-face {
  font-family: 'Circe';
  src: url('./../fonts/Circe-Bold.woff2') format('woff2'),
    url('./../fonts/Circe-Bold.woff') format('woff'),
    url('./../fonts/Circe-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('./../fonts/Circe-ExtraBold.woff2') format('woff2'),
    url('./../fonts/Circe-ExtraBold.woff') format('woff'),
    url('./../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('./../fonts/Circe-ExtraLight.woff2') format('woff2'),
    url('./../fonts/Circe-ExtraLight.woff') format('woff'),
    url('./../fonts/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('./../fonts/Circe-Light.woff2') format('woff2'),
    url('./../fonts/Circe-Light.woff') format('woff'),
    url('./../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('./../fonts/Circe-Regular.woff2') format('woff2'),
    url('./../fonts/Circe-Regular.woff') format('woff'),
    url('./../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



$font-family: 'Circe';

body {
  $font-family: 'Circe';
}


.h1 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 108%;
  color: #fff;
}

.h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 185%;
  text-align: center;
  margin-bottom: 74px;
}

p.h2.title.s-24 {
  text-align: left;
  color: #000;
  margin-bottom: 24px;
  line-height: 138%;
  font-size: 24px;
}

p.h2.title.s-20 {
  text-align: left;
  color: #000;
  margin-bottom: 29px;
  // line-height: 138%;
  font-size: 20px;
  line-height: 148%;
}

.align-left{
  text-align: left;
}
.h2.margin-small{
  margin-bottom: 16px;
}
.h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.standart-text,
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

footer p {
  color: #fff
}

.bold {
  font-weight: 700;
}

.standart-text {
  color: #000;
  line-height: 180%;
}

.light{
  font-weight: 300;
}

.h2.light{
  font-weight: 300;
  color: #000;
  line-height: 152%;
  margin-bottom: 62px;
}
.thin{
  font-weight: 300;
}
a.h2.thin{
  font-weight: 300;
}

.accent_text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 15px;
}
.panel p.standart-text.bold{
  font-weight: 400;
}
.centered {
  text-align: center;
}
.under{
  text-decoration: underline;
}
.normal_text_bold {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.accent-span {
  color: #12A1DC;
}

@media screen and (min-width: 760px){
    .h2{
      font-size: 25px;
    }
    p.h2.title.s-24{
      font-size: 24px;
    }
    p.h2.title.s-20{
      font-size: 25px;
    }
}


@media screen and (min-width: 1024px){
  .h2{
    font-size: 30px;
  }

  .standart-text,
  p {
    font-size: 24px;
  }
  p.h2.title.s-24{
    font-size: 30px;;
  }
  p.h2.title.s-20{
    font-size: 30px;
    margin-bottom: 30px;
  }

  .standart-text {
    line-height: 172%;
  }

  .standart-text.big-size {
    font-size: 30px;
  }
  .h2.margin-small{
    margin-bottom: 50px;
  }
}

@media screen and(min-width: 1600px){
  .h2{
    font-size: 36px;
  }
  p.h2.title.s-20{
    font-size: 36px;
    margin-bottom: 38px;
  }
  .standart-text.big-size {
    font-size: 36px;
  }
  p.h2.title.s-24{
    font-size: 36px;;
  }
}