@use '../helpers'as h;

.page {
    padding-top: 73px;
    background-color: #F5F5F5;
}

.header-part {
    // min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 158px;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;

    .h1 {
        font-family: 'Circe';
        font-size: 29px;
        line-height: 110%;
        position: relative;
        font-weight: 400;
        width: 80%;
        // top:50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }

    .blue-block {
        position: absolute;
        background: linear-gradient(#00A5EC, #06202b);
        height: 100%;
        width: 100%;
        opacity: 0.8;
        z-index: 2;
    }
}

.container-main {
    min-width: 300px;
    padding: 15px 29px;
    margin: 0 auto;
    padding-top: 14px;
    ul{
        padding-top: 14px;
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 25px;
            align-items: center;
        }
    
        li:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 8px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: h.$accent-color;
        }

    }
    p > a, li > a{

        transition: color ease 0.3s;
        position: relative;
    
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0px;
            bottom: 1px;
            background-color: #000;
            transition: width ease 0.3s;
        }
    
        // text-decoration: underline;
        &:hover {
            color: h.$accent-color;
    
            &:after {
                width: 0%;
            }
        }
    }
}

.card {
    &-link {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #ffff;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        display: block;
        padding: 40px 15px 27px 34px;
    }

    &-text-block {
        .h2 {
            font-weight: 400;
            margin-bottom: 30px;
            text-align: left;
            line-height: 130%;
            display: block;
            transition: color ease 0.3s;
            cursor: pointer;

            &:hover {
                color: h.$accent-color;
            }
        }

        .standart-text {
            margin-bottom: 28px;
            color: #636363;
        }
    }

    &-icon-place {
        position: absolute;
        right: 30px;
        bottom: 30px;
        width: 38px;
        height: 38px;
    }
}

.card-link{
    .pseudo-link{
        font-size: 18px;
    }
    .pseudo-link, a {
        // display: block;
        // font-size: 20px;
        // color: h.$accent-color;
        // &:after {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     width: 0%;
        //     height: 1px;
        //     left: 0px;
        //     bottom: 1px;
        //     background-color: h.$accent-color;
        //     transition: width ease 0.3s;
        // }
    
        // text-decoration: underline;
        &:hover {
            color: h.$accent-color;
    
            // &:after {
            //     width: 100%;
            // }
        }
    }
}


.padding-wrap {
    padding: 62px 0 19px;
}

.text-block {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 100px;
    }
}

.dots-list {
    padding-top: 14px;

    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 25px;
    }

    li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: h.$accent-color;
    }
}

blockquote {
    font-family: inherit;
    font-weight: 300;
    font-size: 20px;
    line-height: 157%;
    text-align: center;
    padding: 119px 15px 50px 15px;
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 52px;
        height: 51px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/icons/quote.svg);
        // left: 0px;
        top: 41px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.text-link {
    transition: color ease 0.3s;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        bottom: 1px;
        background-color: #000;
        transition: width ease 0.3s;
    }

    // text-decoration: underline;
    &:hover {
        color: h.$accent-color;

        &:after {
            width: 0%;
        }
    }
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
    transition: .4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;

    &:hover {
        .text {
            color: h.$accent-color;
        }
    }

    .text {
        font-weight: 300;
        width: 84%;
        padding-right: 0px;
        padding-left: 35px;
        background-color: #fff;
        font-weight: 400;
    }

    &.card-link {
        padding: 30px 26px 36px 32px;
        margin-bottom: 00px;
        z-index: 5;
        // align-items: flex-start;
    }
}

.inner-tab{
    margin-bottom: 20px;;
    background-color: #fff;
    .accordion{
        .text{
            font-size: 16px;
            font-weight: 400;
            z-index: 99999999;
            position: relative;
            padding-left: 0px;
        }
        &:before, &:after{
            z-index: 99;
        }
        &:before{
            top:11px;
        }
        &:after{
            top: 22px;
        }        
    }
}

.inner-tab  .panel{ 
    padding: 0px!Important;
    transition: 0!Important;
    position: relative;
    z-index: 1;
}

.accordion{
    background-color: #fff !important;
    z-index: 99999;
    position: relative;
}

.inner-tab.active  .panel{ 
    padding: 60px 50px 10px 0px!Important; ;

}

// .inner-tab:not:first-child{ 
//     margin-top: -60px;;
// }

// .wrap-tab{
//     .inner-tab{
//         .panel{
//             padding: 68px 60px 60px 0px;
//         }
//         .panel.active{
//             padding: 68px 60px 60px 0px;
//         }
//     }
// }

// .wrap-tab{
//     .inner-tab{
//         .panel.active{
//             padding: 68px 60px 60px 0px;
//         }
//     }
// }
// .wrap-tab.active{
//     .inner-tab.active{
//         .panel{
//             padding: 68px 60px 60px 0px;
//         }
//     }
// }

.accordion:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 46px;
    font-weight: bold;
    margin-left: 5px;
    width: 20px;
    height: 1px;
    transition: all 200ms ease-in;
    background-color: #000;
}

.accordion:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 40%;
    font-weight: bold;
    margin-left: 5px;
    height: 20px;
    width: 1px;
    right: 30px;
    top: 36px;
    transition: all 200ms ease-in;
    background-color: #000;
}

.wrap-tab.active {
    &>.accordion {
        &:before {
            transform: rotate(90deg);
        }

        &:after {
            opacity: 0;
        }
    }
}

.inner-tab.active {
    &>.accordion {
        &:before {
            transform: rotate(90deg);
        }

        &:after {
            opacity: 0;
        }
    }
}

.wrap-tab.active,
.inner-tab.active {
    &>.accordion {
        .text {
            color: h.$accent-color;
        }
    }
    // .panel {
    //     // padding: 32px 18px 45px; 
    //     padding: 48px 21px 0 53px;
    //     padding-bottom: 44px;
    // }
}

.wrap-tab.active > .panel{
    padding: 48px 21px 0 53px;
    padding-bottom: 44px;
}


.wrap-tab.inner-tab {
    .accordion.card-link {
        padding: 20px 26px 20px 04px;
    }

    .accordion .text {
        font-size: 32px;
        padding-right: 116px;
        width: 99%;
    }

    .accordion:after {
        top: 45px;
    }

    .accordion:before {
        top: 26px;
    }
}


.panel {
    background-color: white;
    color: #000;
    height: 0;
    transition: height 1s ease;
    overflow: hidden;
    // padding: 48px 21px 0 53px;
    padding: 8px 21px 0 53px;
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: -1;

    p.standart-text, p {
        color: #000;
        font-weight: 300;
    }

    ul li:before {
        height: 5px;
        width: 5px;
        top: 11px;
    }

    ul li {
        margin-bottom: 15px;
        padding-left: 20px;
    }
}

.wrap-tab.active > .panel {    
        padding: 48px 21px 0 53px;
}

.inner-tab > .panel{
    padding: 68px 51px 10px 0px;
}

.tabs.cards {
    padding: 3px 0px;
}


.tabs.cards {
    counter-reset: tab-counter;
    margin-bottom: 50px;
}

.wrap-tab {
    counter-increment: tab-counter;
    margin-bottom: 20px;

    .icon-money {
        width: 25px;
        height: 25px;
        margin-left: -4px;
        margin-right: 4px;
        margin-top: 6px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.wrap-tab .accordion.card-link .number::before {
    content: counter(tab-counter) " ";
    font-weight: bold;
    font-family: h.$font-family;
    font-size: 20px;
    color: h.$accent-color;
}


.lists-wrap, ol {
    counter-reset: tab-counter;
}

.list-item, ol > li {
    counter-increment: tab-counter;
    position: relative;
    padding-left: 20px;
}


.lists-wrap .list-item:before,
ol li:before {
    content: counter(tab-counter) ". ";
    position: absolute;
    left: 0px;
}

.list-item.blue:before {
    color: h.$accent-color;
    // color: red;
    font-size: 25px;;
    font-weight: 700;
}
.margin-30 {
    height: 30px;
}

.gray-part {
    background-color: #F6F5F5;
    border-radius: 20px;
    margin-left: -38px;
    padding: 25px 19px 25px;
    margin-top: 32px;
}

.gray-part.disable-grey {
    background-color: transparent;
}

.gray-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-weight: 500;

}

.panel-table {
    margin-bottom: 25px;
    margin-top: 10px;
}

.panel {
    ol , ul {
        padding-left: 0px;
        flex-direction: column;
        li{
            font-weight: 300;
            color: #000;
            font-weight: 300;
            margin-bottom: 15px;
            font-size: 19px;;
        }
    }
    ol > li{
        font-weight: 300;
        color: #000;
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 19px;;  
    }
    // .dots-list {
    //     padding-left: 0px;
    //     flex-direction: column;

    //     li {
    //         font-weight: 300;
    //     }
    // }
}

.attention-head {
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 20px 0px 0px;
    font-size: 24px;
}

.wrap-all-news {
    margin-bottom: 21px;

    .accordion .text {
        padding-right: 36px;
        width: 90%;
        font-size: 19px;
    }
}

.news-item {
    width: 100%;
    margin-bottom: 41px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    .arrow-place {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 12px;
        right: 10px;
        z-index: 5;
        transition: all ease 0.01s;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/icons/white-arrow.svg');
    }
    &:hover {
        .arrow-place{
          filter: brightness(0) saturate(100%) invert(53%) sepia(88%) saturate(2416%) hue-rotate(162deg) brightness(89%) contrast(101%)  
        }
        .wrap-news-illustrate{
            .news-illustrate{
                transform: scale(1.1);
            }
        }
        .news-text{
            color: h.$accent-color
        }
    }
}


.wrap-news-illustrate {
    width: 100%;
    height: 218px;
    border-radius: 20px;
    margin-bottom: 24px;
    overflow: hidden;
    
    .news-illustrate {
        transition: all ease 0.3s;;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.news-text {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-align: left;
    line-height: 150%;
    transition: all ease 0.3s;
}

.pagination {
    display: flex;
    margin: 0 auto;
    width: 270px;
    align-items: center;

    .arr {
        width: 44px;
        height: 39px;
        transition: all ease 0.3s;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.arr-left {
            margin-right: 25px;
        }

        &.arr-right {
            margin-left: 25px;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    .dots {
        margin: 0px 4px;
    }
}


.num {
    border: 1px solid #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
    width: 33px;
    height: 33px;
    margin: 0px 4px;
    font-size: 24px;
    transition: all ease 0.3s;
    font-weight: 700;
    color: #9E9E9E;
    cursor: pointer;

    &.active {
        color: h.$accent-color;
    }

    &:hover {
        color: h.$accent-color;
        border: 1px solid h.$accent-color;
    }
}

.pagination-place {
    margin: 0px auto 60px;
    // margin-bottom: 30px;
}


.page {
    &-pagination {
        padding: 34px 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        overflow-x: auto;

        &>* {
            border: 1px solid #9E9E9E;
            border-radius: 100%;
            height: 30px;
            min-width: 30px;
            max-width: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 11px 7px 6px 7px;
            line-height: 1;
            color: #9E9E9E;
            font-size: 20px;
            font-weight: 400;

            &.current {
                // background-color: #070707;
                border: 1px solid h.$accent-color;
                color: h.$accent-color;
            }
        }

        &>a {
            &:hover {
                border: 1px solid h.$accent-color;
                color: h.$accent-color;
            }
        }

        &>.prev,
        &>.next {
            position: relative;
            opacity: .2;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &>.next {
            margin-left: 0px;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_197_609)'%3E%3Cpath d='M12.5 4L11.09 5.41L16.67 11H4.5V13H16.67L11.09 18.59L12.5 20L20.5 12L12.5 4Z' fill='#ccc'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_197_609'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }

        &>.prev {
            margin-right: 0px;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_197_592)'%3E%3Cpath d='M12.5 4L13.91 5.41L8.33 11H20.5V13H8.33L13.91 18.59L12.5 20L4.5 12L12.5 4Z' fill='#ccc'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_197_592'%3E%3Crect width='24' height='24' fill='white' transform='matrix(-1 0 0 1 24.5 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }

        &>a.next,
        &>a.prev {
            opacity: 1;
        }

        &>a.next {
            &:hover::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_197_609)'%3E%3Cpath d='M12.5 4L11.09 5.41L16.67 11H4.5V13H16.67L11.09 18.59L12.5 20L20.5 12L12.5 4Z' fill='#12a1dc'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_197_609'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }

        &>a.prev {
            &:hover::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_197_592)'%3E%3Cpath d='M12.5 4L13.91 5.41L8.33 11H20.5V13H8.33L13.91 18.59L12.5 20L4.5 12L12.5 4Z' fill='#12a1dc'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_197_592'%3E%3Crect width='24' height='24' fill='white' transform='matrix(-1 0 0 1 24.5 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }
}

.rr {
    transform: rotate(-180deg);
}


.wrap-intro {
    margin-bottom: 30px;
}

.date-block {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .calendar {
        width: 28px;
        height: 21px;
        display: block;
        background-size: cover;
        background-repeat: repeat;
        background-image: url(../img/icons/calendar.svg);
        margin-right: 10px;
    }

    p.date {
        color: h.$accent-color;
        font-family: inherit;
        font-size: 20px;
        margin-bottom: 0px;

    }
}

.simple-image-wrap, .wp-block-image
  {
    border-radius: 20px;
    overflow: hidden;
    height: 285px;
    margin: 25px 0px 56px;

    .simple-image, img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 56px;
    }
}

.panel .wp-block-image{
    height: auto;
    border-radius: 0px;
    margin-bottom: 0px;
}

.attention-info {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 30px 0px;
}

.container-main{
    .contact{
        ul li{
            padding-left: 0px;
        }
        ul li:before{
            display: none;
            padding-left: 0;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    
    .title {
        font-size: 24px;
        line-height: 36px;
    }

    .desc {
        margin-top: 29px;
        font-size: 17px;
        line-height: 25px;
        font-weight: 300;
    }

    .phone {
        align-items: center;
        margin-top: 33px;
        font-weight: 200;

        .img {
            width: 29px;
        }

        .text {
            padding-left: 27px;
            font-size: 17px;
        }
    }

    .email {
        align-items: center;
        margin-top: 21px;
        font-weight: 200;
        
        .img {
            width: 35px;
        }

        .text {
            padding-left: 20px;
            font-size: 17px;
        }
    }

    .clock {
        align-items: center;
        margin-top: 18px;
        font-weight: 200;
        
        .img {
            width: 23px;
        }

        .text {
            padding-left: 32px;
            font-size: 17px;
        }
    }

}
.container-main .contact li>a:after, .container-main .contact p>a:after{
    width: 0px;
}

.back-block{

}
.contacts-back-block{
    margin-bottom: 80px;
    .top-name{
        margin-bottom: 24px;
    }
    .links_li {
        margin-bottom: 26px;
    }
    .links-header {
        margin-bottom: 16px;
    }
    .map-wrap{
        height: 157px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;

        iframe{
            height: 100%;
            width: 100%;
        }
    }
}


.image-c-wrap{
    width:27px;
    min-height: 20px;
    height: 30px;
    margin-right: 15px;
    img{
        width: 100%;
        height: 100%;
    }
}

.simple-text-page{
    h2{
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 185%;
        text-align: left;
        margin-bottom: 20px;;
    }

    time {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        position: relative;
        color: h.$accent-color;
        font-family: inherit;
        font-size: 18px;

        margin-left: 44px;
    
        &:before {
            content: "";
            position: absolute;
            left: -42px;
            width: 25px;
            height: 17px;
            display: block;
            background-size: cover;
            background-repeat: repeat;
            background-image: url(../img/icons/calendar.svg);
            // margin-right: 10px;
        }           
    }
    p {
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 15px;
        color: #000;
        line-height: 180%;
    }
    a {
        transition: color ease 0.3s;
        position: relative;
    
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0px;
            bottom: 1px;
            background-color: #000;
            transition: width ease 0.3s;
        }
    
        &:hover {
            color: h.$accent-color;
    
            &:after {
                width: 0%;
            }
        }
    }
    ul {
        padding-top: 14px;
    
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 25px;
        }
    
        li:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 8px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: h.$accent-color;
        }
    }
    img {
        margin: 35px 0px 64px;
        height: auto;
        width: 100%;
        border-radius: 20px;;
    }

}





@media screen and (min-width: 400px) {
    .page-pagination {
        gap: 8px;
    }

    .page-pagination>* {
        height: 40px;
        max-width: 40px;
        min-width: 40px;
    }

}

@media screen and(min-width: 760px) {
    .wrap-all-news {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;

        // margin-bottom: 50px;
        .news-item {
            width: 46%;
            margin: 0px 5px 25px;
        }
    }
    .simple-text-page{
        h2{
            font-size: 20px;
        }
        ul {
            font-size: 24px;
            li:before {
                top: 11px;
            }
        }
        time{
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            position: relative;
            color: h.$accent-color;
            font-family: inherit;
            font-size: 20px;
            &:before {
                width: 28px;
                height: 21px;
            }
        }
    }

    .container-main {
        max-width: 740px;
    }

    .page .icons-set {
        width: 600px;
    }

    .header-part {
        height: 291px;

        .h1 {
            font-size: 60px;
            width: 100%;
        }
    }

    .accordion .text {
        font-size: 24px;
    }

    .wrap-tab .accordion.card-link .number:before {
        font-size: 36px;
        font-weight: 400;
    }

    .wrap-news-illustrate {
        height: 163px;
    }

    .page-pagination {
        padding: 34px 0 32px;
    }

    .page-pagination>* {
        height: 57px;
        max-width: 57px;
        min-width: 57px;
        font-size: 28px;
    }

    .page-pagination>.next {
        margin-left: 20px;
    }

    .page-pagination>.prev {
        margin-right: 20px;
    }
    .accordion:after{    
        right: 41px;

    }
    
    .accordion:before{
        right: 51px;
    }
    .contacts-back-block{
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 50px;
    }

    .top-part{
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #DBDBDB;
        margin-bottom: 60px;
        justify-content: flex-start;
        .top-name{
            font-size: 20px ;
            font-weight: 300;
            width: 500px;
            margin-right: 40px;
        }
    }
    .contacts-back-block .links_li{
        margin-bottom: 15px;
    }
    .card-link{
        .pseudo-link{
            font-size: 20px;
        }
    }
}


@media screen and(min-width: 1024px) {
    .wrap-tab .icon-money{
        height: 35px;
        width: 35px;
    }

    .panel ol  > li{
        font-size: 24px;;
        padding-left: 30px;
    }
    .inner-tab .accordion .text {
        font-size: 22px;
    }
    .container-main {
        max-width: 990px;
    }
    .container-main ul li:before{
        top: 16px;
    }
    .simple-text-page{
        h2{
            font-size: 30px;
        }
        p {
            font-size: 24px;
            line-height: 172%;
        }
    }
    .header-part {
        margin-bottom: 101px;
    }

    .accordion .text {
        padding-right: 36px;
        width: 87%;
        font-size: 30px;
    }

    .wrap-tab .accordion.card-link .number:before {
        font-size: 36px;
    }

    .wrap-all-news {
        justify-content: space-between;

        .news-item {
            width: 30%;
            margin: 0px 5px 25px;
        }
    }

    .simple-image-wrap , .wp-block-image{
        margin: 35px 0px 64px;
        // height: 412px;
    }
    .bottom-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .to-left{
        min-width: 420px
    }
    .to-right{
        width: 500px;
    }
    .contacts-back-block .map-wrap {
        height: 500px;
    }
    blockquote {
        font-size: 25px;
        padding: 128px 15px 84px;
        max-width: 700px;
        margin: 0 auto;
    }
    blockquote:before{
        top: 48px;
    }

}

@media screen and(min-width: 1300px) {
    .page {
        padding-top: 98px;
    }

    .container-main {
        max-width: 1216px;
    }

    .header-part {
        overflow: hidden;

        .h1 {
            font-size: 80px;
        }

        &:after {
            background-image: url(../img/icons/decor-circle.svg);

            content: "";
            position: absolute;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -145px;
            height: 367px;
            position: absolute;
            right: -75px;
            width: 433px;
            z-index: 5;
        }
    }

    .h2 {
        margin-bottom: 60px;
    }

    .card-icon-place {
        bottom: auto;
        height: 60px;
        margin-bottom: 0;
        min-width: 56px;
        position: relative;
        right: -17px;
        width: 58px;
    }

    .card-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 54px 40px 50px;
        margin-bottom: 40px;
    }

    .card-text-block {
        padding-left: 56px;
        width: 91%;
        padding-right: 20px;
    }

    .card .pseudo-link, .card a{
        font-size: 24px;
        text-align: right;
    }

    .page .icons-set {
        width: 100%;
    }

    .card-text-block .h2 {

        margin-bottom: 13px;
    }

    .card-text-block .standart-text {
        margin-bottom: 0px;
    }

    .padding-wrap {
        padding: 132px 0 120px;
    }

    // .text-block{
    //     padding: 0px 94px;
    // }
    .header-part {
        margin-bottom: 115px;
    }

    .text-block {
        margin-bottom: 45px;
    }

    .dots-list.flex-list {
        margin: 14px;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        flex-flow: wrap-reverse;

        li {
            width: 45%;

            &:before {
                top: 15px;
            }
        }
    }

    .panel {
        .dots-list {
            flex-direction: column;

            li {
                width: 100%;
            }
        }
    }

    blockquote {
        font-size: 36px;
        max-width: 898px;
        margin: 0 auto;
        padding: 95px 15px 130px 50px;

        &:before {
            top: 29px;
        }
    }

    .h2.light {
        max-width: 840px;
        margin: 0 auto;
        font-size: 36px;
        padding: 41px 0px 164px;
        // text-align: left;;
        line-height: 157%;
    }

    .accordion .text {
        font-size: 30px;
        padding-right: 116px;
        width: 96%;
    }

    .accordion.card-link {
        padding: 30px 26px 36px 74px;
    }

    .wrap-tab .panel {
        padding: 48px 21px 0 149px;
    }

    .wrap-tab.active > .panel {
        padding: 48px 21px 0 149px;
    }

    .wrap-tab .accordion.card-link .number:before {
        font-size: 46px;
    }

    .gray-part {
        background-color: #f6f5f5;
        border-radius: 20px;
        // margin-left: -102px;
        // margin-right: 27px;
        margin-top: 32px;
        padding: 44px 41px 25ps;
        margin-bottom: 20px;

    }

    .margin-30 {
        height: 70px;
    }

    .accordion:before {
        right: 75px;
        top: 40%;
        top: 44px;

    }

    .accordion:after {
        height: 1px;
        top: 53px;
        right: 66px;
    }

    .wrap-intro {
        margin-bottom: 80px;
    }

    .date-block .calendar {
        height: 30px;
        width: 40px;
        margin-right: 25px;
    }

    .date-block p.date {
        font-size: 24px;
    }

    .date-block {
        margin-bottom: 51px;
    }

    .attention-info {
        font-size: 26px;
        padding: 40px 0px;
    }
    .top-part{
        .top-name{          
            margin-right: 70px;
            padding-right: 50px;
        }
    }
    .map-wrap {
        width: 541px;
    }
    .contacts-li .links_a {
        font-size: 24px;
        font-weight: 300;
    }
    .footer .contacts-li .links_a {
        font-size: 17px;
        font-weight: 300;
    }

}


@media screen and (min-width: 1450px) {

    ul li:before {
        height: 10px;
        top: 15px;
        width: 10px;
    }

    .panel ul > li:before {
        height: 10px;
        top: 15px;
        width: 10px;
    }

    .panel ul > li {
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .gray-part {
        padding: 25px 39px;
    }

    .wrap-tab {
        .icon-money {
            width: 52px;
            height: 52px;
        }
    }

    .wrap-tab.active > .panel,
    .wrap-tab > .panel {
        padding: 48px 91px 0 164px;
    }

    .wrap-news-illustrate {
        height: 208px;
    }

    .wrap-all-news .news-item {
        margin: 0 5px 100px;
    }

    .news-item .arrow-place {
        height: 51px;
        width: 51px;
    }

    .simple-image-wrap, .wp-block-image {
        margin-bottom: 100px;
        // height: 410px;
        margin: 100px 0 100px;
        // padding-top: 80px;
    }
    .accordion:after {
        height: 1px;
        right: 42px;
        top: 56px;
        width: 31px;
    }
    .accordion:before {
        right: 57px;
        top: 44px;
        height: 25px;
    }
    .top-part .top-name{
        font-size: 24px;
        padding-right: 0px;
    }  
    .contacts-back-block {
        padding: 83px 66px;
        margin: 0px -29px 80px;
    }      
    .top-part .top-name {
        line-height: 142%;
    }
    .top-part .top-name {
        margin-right: 107px;
    }
    .links_li .contacts-img {
        width: 35px;
    }
    .top-part {
        padding-bottom: 43px;
        margin-bottom: 79px;
    }
    .image-c-wrap{
        width:35px;
        min-height: 20px;
        height: 37px;
        margin-right: 25px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .links_li .contacts-img {
        max-width: 38px;
    }
    .inner-tab .accordion .text {
        font-size: 22px;
        margin-right: 117px;
        padding-right: 0px;
    }
}

@media screen and(min-width: 1600px) {
    .page {
        padding-top: 113px;
        padding-bottom: 60px;
    }
    .text-block {
        margin-bottom: 65px;
    }

    .simple-text-page{
        h2{
            font-size: 36px;
            margin-bottom: 51px;;
        }
        p {
            font-size: 24px;
        }
    }

    .wrap-tab .accordion.card-link .number:before {
        font-size: 56px;
    }
    
    .accordion .text {
        font-size: 36px;
    }


    .page-pagination>* {
        height: 67px;
        max-width: 67px;
        min-width: 67px;
        font-size: 26px;

    }

    .page-pagination>.next {
        margin-left: 26px;
    }

    .page-pagination>.prev {
        margin-right: 26px;
    }

    .news-text {
        font-size: 23px;
    }

    .wrap-tab.active > .panel,
    .wrap-tab >.panel {
        padding: 48px 91px 0 164px;
    }

    .attention-info {
        font-size: 36px;
        padding: 60px 0px;
    }
}