@use '../helpers' as h;

.page{
    padding-top: 73px;
    background-color: #F5F5F5 ;
}
.header-part{
    // min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 158px;
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
    .h1{
        font-family: 'Circe';
        font-size: 29px;
        line-height: 110%;
        position: absolute;
        font-weight: 400;
        width: 80%;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }
    .blue-block {
        position: absolute;
        background: linear-gradient(#00A5EC, #06202b);
        height: 100%;
        width: 100%;
        opacity: 0.8;
        z-index: 1;
    }
}

.container-main{
    min-width: 300px;
    padding: 15px 29px;
    margin: 0 auto;
}

.card{
    &-block{

    }
    &-link{
        display: flex;
        justify-content: space-between;
        flex-direction: column;   
        background-color: #ffff;
        border-radius: 20px;     
        margin-bottom: 20px;
        position: relative;
        display: block;
        padding: 40px 15px 27px 34px;
    }
    &-text-block{
        .h2{
            font-weight: 400;
            margin-bottom: 30px;
            text-align: left;
            line-height: 130%;
            display: block;
            transition: color ease 0.3s;
            cursor: pointer;
            &:hover{
                color: h.$accent-color;
            }
        }
        .standart-text{
            margin-bottom: 28px;
            color: #636363;
        }
    }
    &-icon-place{
        position: absolute;
        right: 30px;
        bottom: 30px;
        width: 38px;
        height: 38px;
    }
}

.pseudo-link{
    display: block;
    font-size: 20px;
    color: h.$accent-color;
}
.padding-wrap{
    padding: 62px 0 19px;
}

.text-block{
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 100px;;
    }
}



.dots-list{
    padding-top: 14px;;

    li{
        position: relative;
        padding-left: 30px;
        margin-bottom: 25px;
    }
    li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 8px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: h.$accent-color;
    }
}


blockquote{
    font-family: inherit;
    font-weight: 300;
    font-size: 20px;
    line-height: 157%;
    text-align: center;
    padding: 119px 15px 50px 15px ;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        width:52px;
        height:51px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/icons/quote.svg);
        // left: 0px;
        top: 41px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.text-link{
    transition: color ease 0.3s;
    position: relative;
    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        bottom: 1px;
        background-color: #000;
        transition: width ease 0.3s;
    }
    // text-decoration: underline;
    &:hover{
        color: h.$accent-color;
        &:after{
            width: 0%;
        }
    }
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
    transition: .4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    .text{
        font-weight: 300;
        width: 84%;
        padding-right: 0px;
        padding-left: 35px;
    }

    &.card-link{
        padding: 30px 26px 36px 32px;
        margin-bottom: 00px;;
        z-index: 5;
    }

  }
  
  .active, .accordion:hover {

  }
  
  .accordion:after {
    content: '';  
    position: absolute;
    right: 20px;
    top: 46px;
    font-weight: bold;
    margin-left: 5px;
    width: 20px;
    height: 1px;
    transition: all ease 0.3s;
    background-color: #000;    
  }

  .accordion:before {
    content: '';  
    position: absolute;
    right: 20px;
    top: 40%;
    font-weight: bold;
    margin-left: 5px;   
    height: 20px;
    width: 1px;
    right: 30px;
    top: 36px;
    transition: all ease 0.3s;
    background-color: #000;    
  }
  .wrap-tab.active{

      .accordion:before {
            transform: rotate(90deg);
            // right: 30px;
            // top: 36px;
      }
  }
  .accordion.active {
    .panel{
        // padding: 32px 18px 45px; 
        padding: 48px 21px 0 53px;
        padding-bottom: 44px;
    }
  }
  .panel {

    background-color: white;
    color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    // padding: 48px 21px 0 53px;
    padding: 8px 21px 0 53px;
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: -1;
    transition: all ease 0.3s;;
    p.standart-text{
        color: #000;
        font-weight: 300;
    }
    .dots-list li:before{
        height: 5px;
        width: 5px;
        top: 11px;
    }
    .dots-list li {
        margin-bottom: 15px;;
        padding-left: 20px;
    }
  }
  .wrap-tab.active{

      .panel{
          padding: 48px 21px 0 53px;
      }
  }



  .tabs.cards{
    padding: 3px 0px;
  }


.tabs.cards {
    counter-reset: tab-counter;
    margin-bottom: 50px;;
}

.wrap-tab {
    counter-increment: tab-counter;
    margin-bottom: 20px;
}

.wrap-tab .accordion.card-link .number::before {
    content: counter(tab-counter) " ";
    font-weight: bold;
    font-family: h.$font-family;
    font-size: 20px;
    color: h.$accent-color;
}


.lists-wrap {
    counter-reset: tab-counter;
}

.list-item {
    counter-increment: tab-counter;
    position: relative;
    padding-left: 20px;;
}

.lists-wrap .list-item:before {
    content: counter(tab-counter) ". ";
    position: absolute;
    left: 0px;
}

.margin-30{
    height: 30px;
}

.gray-part{
    background-color: #F6F5F5;
    border-radius: 20px;
    margin-left: -38px;
    padding: 25px 19px 25px;
    margin-top: 32px;
}
.gray-title{
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-weight: 500;

}

.panel{
    .dots-list{
        padding-left: 0px;
        flex-direction: column;
        li{
            font-weight: 300;
        }
    }
}
.attention-head{
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 20px 0px 0px;
    font-size: 24px;
}



.wrap-all-news{
    margin-bottom: 71px;
        .accordion .text {
            padding-right: 36px;
            width: 90%;
            font-size: 19px;
    }
}

.news-item{
    width: 100%;
    margin-bottom: 41px;
    text-align: center;
    vertical-align: middle;
}

.wrap-news-illustrate{
    width: 100%;
    height: 218px;
    border-radius: 20px;
    margin-bottom: 24px;
    overflow: hidden;
    .news-illustrate{
        width: 100%;
        height:100%;
        object-fit: cover;
    }
}

.news-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-align: left;
    line-height: 150%;
}

.pagination{
    display: flex;
    margin: 0 auto;
    width: 270px;
    align-items: center;
    .arr{
        width: 44px;
        height: 39px;
        transition: all ease 0.3s;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.arr-legt{
            margin-right: 25px;
        }
        &.arr-right{
            margin-left: 25px;
        }
        &:hover{
            opacity: 0.5;
        }
    }
    .dots{
margin: 0px 4px;
    }
    
}
.num{
    border: 1px solid #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
    width: 33px;
    height: 33px;;
    margin: 0px 4px;
    font-size: 24px;
    transition: all ease 0.3s;
    font-weight: 700;
    color: #9E9E9E;
    cursor: pointer;
    &.active{
        color: h.$accent-color;

    }
    &:hover{
        color: h.$accent-color;
        border: 1px solid h.$accent-color;

    }

}

.pagination-place{
    margin: 0px auto 60px;
    // margin-bottom: 30px;
}

.rr{
    transform: rotate(-180deg)
}

@media screen and(min-width: 760px){
    .wrap-all-news{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        margin-bottom: 50px;
        .news-item{
            width: 46%;
            margin: 0px 5px 25px;        
        }
    }
    .container-main{
        max-width: 740px;;
    }
    .page .icons-set{
        width: 600px;
    }
    .header-part{
            height: 291px;
            .h1{
                font-size: 60px;
                width: 100%;
            }
    }
    .accordion .text {
        font-size: 24px;
    }
    .wrap-tab .accordion.card-link .number:before {
        font-size: 36px;
        font-weight: 400;
    }
    .wrap-news-illustrate {

        height: 163px;

    }
}

@media screen and(min-width: 1024px){
    .container-main{
        max-width: 990px;;
    }
    .header-part{
        margin-bottom: 101px;;
    }
    .accordion .text {
        padding-right: 36px;
        width: 87%;
        font-size: 30px;
    }
    .wrap-tab .accordion.card-link .number:before {
        font-size: 36px;
    }
    .wrap-all-news{    
        justify-content: space-between;  
        .news-item{
            width: 30%;
            margin: 0px 5px 25px;        
        }
    }
    

}

@media screen and(min-width: 1300px){
    .page{
        padding-top: 98px;;
    }
    .container-main{
        max-width: 1216px;;
    }
    .header-part{
        overflow: hidden;
        .h1{          
             font-size: 80px;
        }
        &:after{
            background-image: url(../img/icons/decor-circle.svg);

            content: "";
            position: absolute;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -145px;
            height: 367px;
            position: absolute;
            right: -75px;
            width: 433px;
            z-index: 5;
        }
    }
    .h2{
        margin-bottom: 158px;
    }
    .card-icon-place{
        position: relative;
        bottom: auto;
        right: 0px;
        width: 66px;
        min-width: 66px;
        height: 66px;;
        margin-bottom: 0px;

    }
    .card-link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 54px 40px 50px;
        margin-bottom: 40px;;
    }
    .card-text-block{
        padding-left: 56px;
        width: 91%;
    }
    .pseudo-link{
        font-size: 24px;;
        text-align: right;
    }
    .page .icons-set {
        width: 100%;
    }
    .card-text-block .h2 {
 
        margin-bottom: 13px;
    }
    .card-text-block .standart-text {
        margin-bottom: 0px;
    }
    .padding-wrap {
        padding: 132px 0 120px;
    }
    .text-block{
        padding: 0px 94px;
    }
    .header-part {
        margin-bottom: 115px;
    }
    .text-block {
        margin-bottom: 45px;
    }
    .dots-list{
        margin: 14px;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        flex-flow: wrap-reverse;
        li{
            width: 45%;
            &:before{
                top: 15px;
            }
        }
    }
    .panel{
        .dots-list{
            flex-direction: column;
            li{
                width: 100%;
            }
        }
    }
    blockquote{
        font-size: 36px;
        max-width: 898px;
        margin: 0 auto;
        padding: 95px 15px 130px 50px;
        &:before{
            top: 29px;
        }
    }

    .h2.light{
        max-width: 940px;
        margin: 0 auto;
        padding: 41px 0px 64px;
        text-align: left;;
    }
    .accordion .text {
        font-size: 36px;
        padding-right: 116px;
        width: 96%;;
    }
    .accordion.card-link {
        padding: 30px 26px 36px 74px;
    }
    .wrap-tab .panel {
        padding: 48px 21px 0 149px;
    }
    .wrap-tab.active .panel {
        padding: 48px 21px 0 149px;
    }
    .wrap-tab .accordion.card-link .number:before {
        font-size: 46px;
    }
    .gray-part {
        background-color: #f6f5f5;
        border-radius: 20px;
        margin-left: -102px;
        margin-right: 27px;
        margin-top: 32px;
        padding: 44px 41px 25ps;
    }
    .margin-30{
        height: 70px;
    }
    .accordion:before {
        right: 75px;
        top: 40%;
        top: 44px;

    }
    .accordion:after {
        height: 1px;
        top: 53px;
        right: 66px;
    }

}


@media screen and (min-width: 1450px)
{
    .accordion:after {
        height: 1px;
        right: 89px;
        top: 65px;
        width: 39px;
    }
    .accordion:before {
        right: 109px;
        top: 40%;
        top: 46px;
        height: 39px;
    }
    .panel .dots-list li:before {
        height: 10px;
        top: 15px;
        width: 10px;
    }
    .panel .dots-list li {
        margin-bottom: 20px;;
        padding-left: 30px;
    }
    .gray-part {
        padding: 25px 39px;
    }
}
@media screen and(min-width: 1600px){
    .page{
        padding-top: 119px;
    }
    .text-block {
        margin-bottom: 65px;
    }
    .wrap-tab .accordion.card-link .number:before {
        font-size: 56px;
    }
    .accordion:after {
        height: 1px;
        right: 99px;
        top: 65px;
        width: 39px;
    }
    .accordion:before {
        right: 119px;
        top: 40%;
        top: 47px;
        height: 39px;
    }
}