@use '../helpers'as h;

.hide,
.sanimate {
    opacity: 0;
}

.sanimate {
    &.fadeInUp {
        animation-name: fadeInUp40;
        animation-duration: 700ms;
        animation-delay: unset;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

.l-main {
    padding-top: 75px;
    background-color: #F5F5F5;
}

.main-slider {
    min-height: 740px;
    position: relative;
    height: auto;

    .slide {
        position: relative;
        background-position: 60% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 740px;
    }

    &_image {
        position: absolute;
        left: 50%;
        top: 0px;
    }

    .texts-block {
        position: relative;
        z-index: 6;
        width: 300px;
        margin: 0 auto;
        padding-top: 91px;
        padding-bottom: 150px;
    }

    .subheader-text {
        font-size: 13px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 31px;
    }

    .h1 {
        text-align: center;
        margin-bottom: 83px;
        line-height: 108%;

    }

    .slick-dots {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        margin: 0 0px 180px -4px;
        transition: top .1s ease-in;
        opacity: 0;
        animation-delay: 1.3s;
    }

    .slick-dots li {
        width: 10px;
    }

    .slick-dots li {
        & button:before {
            font-size: 10px;
            content: '•';
            text-align: center;
            opacity: 1;
            color: #fff;
        }


        &.slick-active button:before {
            color: h.$accent-color;
        }
    }

    .slick-arrow {
        position: absolute;
        top: auto;
        bottom: 55px;
        opacity: 0;
        animation-delay: 400ms;
    }

    .slick-prev {
        left: 30%;
        // transform: translateX(-140%);
        z-index: 99;
        width: 50px;
        height: 50px;
    }

    .slick-next {
        right: 30%;
        width: 50px;
        // transform: translateX(140%);
        height: 50px;
    }

    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        z-index: 3;
    }

    .slick-next:before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><circle cx="25" cy="25" r="24" stroke="%2312A1DC" stroke-width="2"/><path d="M16.5 24C15.9477 24 15.5 24.4477 15.5 25C15.5 25.5523 15.9477 26 16.5 26V24ZM35.2071 25.7071C35.5976 25.3166 35.5976 24.6834 35.2071 24.2929L28.8431 17.9289C28.4526 17.5384 27.8195 17.5384 27.4289 17.9289C27.0384 18.3195 27.0384 18.9526 27.4289 19.3431L33.0858 25L27.4289 30.6569C27.0384 31.0474 27.0384 31.6805 27.4289 32.0711C27.8195 32.4616 28.4526 32.4616 28.8431 32.0711L35.2071 25.7071ZM16.5 26H34.5V24H16.5V26Z" fill="%2312A1DC"/></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 0;
    }

    .slick-prev:before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('data:image/svg+xml;utf8,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="25" cy="25" r="24" transform="rotate(-180 25 25)" stroke="%2312A1DC" stroke-width="2"/><path d="M33.5 26C34.0523 26 34.5 25.5523 34.5 25C34.5 24.4477 34.0523 24 33.5 24L33.5 26ZM14.7929 24.2929C14.4024 24.6834 14.4024 25.3166 14.7929 25.7071L21.1569 32.0711C21.5474 32.4616 22.1805 32.4616 22.5711 32.0711C22.9616 31.6805 22.9616 31.0474 22.5711 30.6569L16.9142 25L22.5711 19.3431C22.9616 18.9526 22.9616 18.3195 22.5711 17.9289C22.1805 17.5384 21.5474 17.5384 21.1569 17.9289L14.7929 24.2929ZM33.5 24L15.5 24L15.5 26L33.5 26L33.5 24Z" fill="%2312A1DC"/></svg>');
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 0;
    }

    .padding-block {
        height: 58px;
        display: block;
    }
}

.blue-block {
    position: absolute;
    background: linear-gradient(#00A5EC, #06202b);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.subheader {
    font-family: h.$font-family;
    color: h.$accent-color;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.clients {
    margin-bottom: 45px;

}

.clients-slider {
    display: flex;
    margin-bottom: 50px!important;

    .slick-list {
        margin: 0 -5px;
    }

    .slick-slide>div {
        padding: 0 5px;
    }

    .slide {
        width: 153px;
        margin-right: 10px;
        border-radius: 30px;
        overflow: hidden;
        overflow: hidden;
        position: relative;
        display: block;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        &.fadeInUp {
            animation-name: fadeInUp40;
        }

        &:hover {
            .slider-names-block {
                bottom: 34px;
            }

            .slider-blur {

                position: absolute;
                background: linear-gradient(#00a5ec78, #052a3a);
            }

            img {
                transform: scale(1.1);
            }
        }
    }

    img{
        width: 100%;
        object-fit: cover;
        transition: all ease 0.3s;
        height: 268px!important;
    }

    .slide-inner{
        height: 268px!important;
    }

    .slider-blur {
        position: absolute;
        background: linear-gradient(#00a5ec00, #00587e);
        height: 100%;
        width: 100%;
        opacity: 0.8;
        z-index: 1;
        top: 0px;
        transition: all ease 0.3s;
    }

    .slider-names-block {
        position: absolute;
        bottom: -60px;
        transition: all ease 0.3s;
        left: 50%;
        transform: translate(-50%, 0px);
        z-index: 9;
        text-align: center;
    }

    .slider-name {
        font-family: h.$font-family;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }

    .slider_link {
        display: block;
        width: 51px;
        height: 51px;
        background-image: url('./../img/icons/white-arrow.svg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px auto;
        transition: all ease 0.3s;
    }

    .slick-dots {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        bottom: -35px;
    }

    .slick-dots li {
        width: 10px;
    }

    .slick-dots li {
        & button:before {
            font-size: 10px;
            content: '•';
            text-align: center;
            opacity: 1;
            color: #9BDDFF;
        }


        &.slick-active button:before {
            color: h.$accent-color;
        }
    }
}

.about {
    padding-top: 50px;
    margin-bottom: 70px;

    .accent_text {
        text-align: center;
        color: #000;
    }
}

.icons-set {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 0 auto;

    .icon-place {
        width: 143px;
        margin-bottom: 50px;
        transition: all ease 0.3s;
        &:nth-child(1) {
            animation-delay: 100ms;
        }

        &:nth-child(2) {
            animation-delay: 200ms;
        }

        &:nth-child(3) {
            animation-delay: 300ms;
        }

        &:nth-child(4) {
            animation-delay: 400ms;
        }

        &:hover {
            .icon-wrap {
                transform: translateY(-10px);
            }

            .icon-name {
                color: h.$accent-color;
            }
        }
    }

    .icon-wrap {
        width: 53px;
        height: 53px;
        margin: 0 auto 11px;
        transition: all ease 0.3s;

        img {
            width: 100%;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    .icon-name {
        font-family: h.$font-family;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        padding-top: 11px;
        display: block;
        transition: all ease 0.3s;
    }
}


.white-block {
    background-color: #fff;
    padding: 77px 0px;
    overflow: hidden;

    .image-part {
        border-radius: 30px;
        height: 218px;
        overflow: hidden;
        margin-bottom: 21px;

        img {
            width: 100%;
        }
    }

    .news-short {
        font-family: h.$font-family;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 33px;
    }
}

.news-wrap {
    padding: 0px 15px;

    h2.subheader {
        margin-bottom: 10px;
    }

    .sub-subheader {
        font-family: h.$font-family;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 33px;
        text-align: center;
        color: #000;
    }
}

.news-slider {
    .slick-list {
        margin: 0 -5px;
    }

    .slick-slide>div {
        padding: 0 5px;
    }

    .slick-dots {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: -15px;
        list-style: none;
        text-align: center;
        transition: opacity .3s ease, top .1s ease-in;
    }

    .slick-dots li {
        width: 10px;
    }

    .slick-dots li {
        & button:before {
            font-size: 10px;
            content: '•';
            text-align: center;
            opacity: 1;
            color: #9BDDFF;
        }


        &.slick-active button:before {
            color: h.$accent-color;
        }
    }

    .slide-into {
        display: block;
    }

    .image-part img {
        transition: all ease 0.3s;
    }

    .slide-into:hover {
        .image-part img {
            transform: scale(1.1);
        }
    }
}


.advantages-block {
    background-image: url('./../img/illustrate/hands.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 76px;
    padding-bottom: 76px;
    color: #fff;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(255 255 255 / 75%);
        padding-top: 30px;
        padding-bottom: 20px;

        .advant-text {
            font-family: h.$font-family;
            font-size: 26px;
            font-weight: 400;
        }
    }

    .wrap-arrow {
        width: 46px;
        height: 46px;
        min-width: 46px;
        display: block;

        img {
            width: 100%;
            display: block;
        }
    }
}

.advantage-header {
    margin-bottom: 73px;
    font-family: h.$font-family;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}


@media screen and (min-width:340px) {

    // .main-slider .slick-next {
    //     right: 41%;
    // }
    // .main-slider .slick-prev {
    //     left: 30%;
    // }
    .icons-set {
        justify-content: space-between;
    }
}

@media screen and (min-width:370px) {
    // .main-slider .slick-prev {
    //     left: 30%;
    // }
}

@media screen and (min-width: 460px) {
    .white-block .image-part {
        height: 273px;
    }
}


@media screen and (min-width: 520px) {
    .icons-set {
        width: 385px;
        margin: 0 auto;
    }

    .icons-set .icon-place {
        width: 174px;
    }

    .icons-set .icon-wrap {
        height: 73px;
        width: 80px;
    }
}


@media screen and (min-width: 640px) {
    .main-slider {
        .texts-block {
            width: 600px;
        }

        .h1 {
            line-height: 108%;
            margin-bottom: 83px;
            text-align: left;
        }
    }

    .blue-block {
        background: linear-gradient(-77deg, #00a5ec, #06202b);
    }

    .icons-set {
        width: 600px;
    }

    .icons-set .icon-place {
        width: 174px;
    }

    .icons-set .icon-wrap {
        height: 73px;
        width: 80px;
    }

}

@media screen and (min-width: 760px) {
    .news-wrap {
        display: flex;
        padding-left: 5%;
    }
    .main-slider .slick-next {
        left: 17%;
    }
    .main-slider .slick-prev {
        left: 4%;
    }

    .news-slider {
        width: 1200px;

        .slide {
            margin-right: 25px;
        }

        .slide-into {
            margin-right: 25px;
        }
    }

    .news-slider .slick-dots {
        transform: translate(-806px, -119px);
    }

    .main-news .slick-dotted.slick-slider {
        margin-bottom: 30px;
        margin-left: 127px;
    }

    .news-wrap h2.subheader {
        text-align: left;
    }

    .news-wrap .sub-subheader {
        text-align: left;
        width: 174px;
    }

    .news-name-wrap {
        display: flex;
        justify-content: space-between;

        .news-short {
            display: block;
            width: 100%;
            line-height: 133%;
            transition: all ease 0.3s;
        }
    }

    .news-slider {
        position: relative;
        z-index: 12;
    }

    .arrow {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><circle cx="25" cy="25" r="24" stroke="%23FFFFFF" stroke-width="2"/><path d="M16.5 24C15.9477 24 15.5 24.4477 15.5 25C15.5 25.5523 15.9477 26 16.5 26V24ZM35.2071 25.7071C35.5976 25.3166 35.5976 24.6834 35.2071 24.2929L28.8431 17.9289C28.4526 17.5384 27.8195 17.5384 27.4289 17.9289C27.0384 18.3195 27.0384 18.9526 27.4289 19.3431L33.0858 25L27.4289 30.6569C27.0384 31.0474 27.0384 31.6805 27.4289 32.0711C27.8195 32.4616 28.4526 32.4616 28.8431 32.0711L35.2071 25.7071ZM16.5 26H34.5V24H16.5V26Z" fill="%23FFFFFF"/></svg>');
        // filter: grayscale(1);
        transition: all ease 0.3s;
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 16;
    }

    .slide-into {
        position: relative;

        &:hover {
            .news-name-wrap .arrow {
                filter: grayscale(0);
            }
        }

    }

    .news-slider .slick-dots {
        -webkit-transform: translate(-806px, -119px);
        transform: translate(-69%, -161px);
    }

    .main-slider {
        min-height: auto;

        .texts-block {
            width: 700px;
        }

        .slide {
            min-height: auto;
        }

        .slick-arrow {
            bottom: 103px;
        }

      

        .slick-dots {
            height: 20px;
            margin-bottom: -49px;
            margin-left: auto;
            width: auto;
            float: right;
            margin-right: 10%;
            position: absolute;
            right: 0;
            bottom: 174px;
        }

        .button {
            margin: 0px;
        }

        .h1 {
            line-height: 108%;
            margin-bottom: 61px;
            width: 700px;
        }

        .subheader-text {
            text-align: left;
        }
    }

    .slick-dots,
    .main-slider .slick-prev,
    .main-slider .slick-next {
        position: absolute;
    }

    .about {
        .accent_text {
            max-width: 800px;
            font-size: 36px;
            margin: 0 auto;
        }
    }

    .icons-set {
        width: 700px;
        margin: 0 auto;
    }

    .icon-place {
        width: 218px;
    }


    .advantage-header {
        font-weight: 700;
        font-size: 44px;
        text-align: center;
    }

    .wrap-advantage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item {
            border-bottom: 1px solid transparent;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
            max-width: 300px;
            padding: 0px 30px;

            &:nth-child(2) {
                position: relative;
                padding: 0px 40px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    opacity: 0.5;
                    top: 0px;
                    left: -10%;
                    border-left: 1px solid #fff;

                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    top: 0px;
                    right: 10%;
                    opacity: 0.5;
                    border-left: 1px solid #fff;
                }
            }

        }

        // .advant-text {
        //     // margin-bottom: 90px;
        //     height: 120px;
        // }
    }


}


@media screen and (min-width: 850px) {

    // .main-slider .slick-prev {
    //     left: 19%;
    // }
    .main-slider .slick-next {
        left: 22%;
    }

    .main-slider .slick-prev {
        left: 14%;
    }

    .news-slider .slick-dots {
        transform: translate(-67%, -162px);
    }


}

@media screen and (min-width: 1020px) {
    .main-slider .slick-dots {
        margin-bottom: 0px;
    }

    .main-slider .slick-arrow {
        bottom: auto;
        top: 144px;
    }

    .main-slider .slick-next {
        left: 9%;
    }

    .main-slider .slick-prev {
        left: 3%;
    }

    .main-slider .slick-dots {
        bottom: 83px;
        margin-bottom: -49px;
        margin-left: auto;
        margin-right: 57px;
    }

    .main-slider {
        .h1 {
            font-size: 66px;
        }
    }

    .l-main {
        padding-top: 96px;
    }

    // .main-slider {
    //     height: 537px;
    // }
    .main-slider .texts-block {
        margin: 0 auto;
        padding-bottom: 70px;
    }

    .main-slider .slick-dots {
        bottom: 83px;
        margin-bottom: -9px;
    }
    .clients-slider .slide-inner, .clients-slider img {
        height: 368px !important;
    }
}

@media screen and (min-width: 1208px) {
    .advantage-header {
        font-size: 54px;


    }

    .advantages-block .item .advant-text {
        font-size: 36px;

    }

    .wrap-advantage .item:nth-child(2):before {

        left: -25%;

    }

    .wrap-advantage .item:nth-child(2):after {

        right: -19%;

    }

    .advantages-block {
        padding: 130px 0px;
    }

    .wrap-advantage .item {
        max-width: 365px;
        padding: 0px;
    }

    .news-wrap {
        padding-left: 6%;
    }

}

@media screen and (min-width: 1280px) {
    .white-block {
        padding: 138px 0 83px;
    }
    .main-slider .h1 {
        // font-size: 54px;
    }

    .about {
        margin-bottom: 96px;
        padding-top: 80px;

        .accent_text {
            max-width: 1060px;
            font-size: 36px;
            line-height: 185%;
        }
    }

    .subheader {
        font-size: 24px;
        margin-bottom: 57px;
    }

    .icons-set {
        width: 1142px;
    }

    .icons-set .icon-wrap {
        height: 138px;
        width: 114px;
    }

    .icons-set .icon-name {
        font-size: 24px;
    }

    .icons-set .icon-place {
        width: 228px;
    }

    .icons-block {
        padding-bottom: 95px;
    }

    .clients-slider {
        justify-content: space-between;
        margin-bottom: 0px;
        padding-top: 20px;

        .slide {
            width: 268px;
            margin-right: 27px;
        }

        .slider-name {
            font-size: 24px;
        }
    }
    .clients-slider .slide-inner, .clients-slider img {
        height: 502px !important;
    }
    .clients-slider{
        margin-bottom: 0px!important;
    }
}


@media screen and(min-width: 1300px) {
    .white-block .news-short {
        font-size: 24px;
    }

    .white-block .image-part {
        height: 363px;
        width: 100%;
    }

    .news-slider {
        width: 1370px;

    }

    .news-slider .slick-dots {
        transform: translate(-69%, -197px);
    }

    .news-slider .slide,
    .news-slider .slide-into {
        margin-right: 58px;
    }

    .clients .container {
        max-width: 89%;
    }

    .clients-slider .slider-names-block {
        bottom: -52px;
    }

    .main-slider {
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            right: 0%;
            bottom: 0%;
            width: 400px;
            height: 400px;
            pointer-events: none;
            background-image: url(../img/icons/decor-circle.svg);
        }
    }

}

@media screen and (min-width: 1360px) {
    .main-slider .texts-block {
        width: 944px;
    }

    .main-slider .h1 {
        width: 824px;
    }

    .main-slider .slide {

        height: 600px;
    }

}


@media screen and (min-width: 1460px) {
    .main-slider .texts-block {
        width: 1133px;
    }

    .main-slider .texts-block {
        padding-top: 77px;
    }

    .main-slider .subheader-text {
        font-size: 24px;
        margin-bottom: 40px;

    }

    .main-slider .h1 {
        font-size: 70px;
        margin-bottom: 97px;
        letter-spacing: -0.9px;
    }

    .main-slider .slick-prev {
        transform: none;
    }

    // .main-slider .slick-next {
    //     left: 26px;
    // }

    // .main-slider .slick-next {
    //     left: 99px;
    // }

    .main-slider .slick-arrow {
        top: 167px;
        z-index: 2;
    }

    .main-slider .slick-dots {
        margin-bottom: -49px;
        margin-left: auto;
        margin-right: 68px;
    }

    .main-slider .slick-dots {
        bottom: 150px;
        margin-bottom: -8px;
    }

    .main-slider .slide {
        min-height: auto;
        height: 694px;
    }

    .main-slider .slick-dots {
        bottom: 173px;
    }

    .main-slider .slick-prev {
        left: 26px;
    }

    .main-slider .slick-next {
        left: 26px;
        left: 92px;
    }
}


@media screen and (min-width: 1600px) {
    .white-block {
        overflow: hidden;
    }

    .news-slider {
        width: 1370px;

        .slick-track {
            left: -45px;
        }
    }


    .news-slider .slick-dots {
        -webkit-transform: translate(-69%, -181px);
        transform: translate(-69%, -181px);
    }

    .main-news .slick-dotted.slick-slider {
        margin-left: 55px;
    }

    .about {
        margin-bottom: 120px;
    }

    .clients {
        margin-bottom: 40px;
    }

    .clients-slider .slider-names-block {
        bottom: -56px;
    }

    .clients-slider .slider_link {

        margin: 50px auto 0px;
    }

    .slide:hover {
        .slider_link {

            margin: 20px auto 0px;
        }
    }

    .clients-slider {
        justify-content: center;
        width: 1528px;
        margin: 0 auto;
    }

    .clients-slider .slide {
        width: 268px;
        margin-right: 35px;
    }

    .subheader {
        font-size: 27px;
        margin-bottom: 54px;

    }

    .clients .subheader {
        margin-bottom: 66px;

    }

    .icons-block {
        padding-bottom: 186px;
    }

    .white-block {
        padding: 282px 0;
    }

    .news-wrap {
        padding-left: 10%;
    }

    .names {
        margin-top: -5px;
        width: 310px;
        margin-right: 80px;

        .sub-subheader {
            font-size: 27px;
        }
    }

    .news-wrap h2.subheader {
        margin-bottom: 18px;
        font-size: 26px;

    }

    .news-wrap .sub-subheader {
        text-align: left;
        width: 230px;
        font-size: 24px;
    }

    .white-block .image-part,
    .slide-into {
        width: 548px;
    }


    .advantages-block {
        padding: 160px 0px;
    }

    .advantages-block .item .advant-text {
        font-size: 48px;

    }

    .wrap-advantage .item:nth-child(2):before {

        left: -20%;

    }

    .wrap-advantage .item:nth-child(2):after {

        right: 8%;

    }

    .advantage-header {
        margin-bottom: 196px;
    }

    .wrap-advantage .item {
        // min-height: 364px;
        max-width: 540px;

        &:nth-child(1) {
            width: 490px;
        }

        &:nth-child(2) {
            width: 550px;

        }

        &:nth-child(3) {
            width: 490px;

        }
    }

    .advantages-block .wrap-arrow {
        height: 64px;
        min-width: 64px;
        width: 64px;
    }

    .wrap-advantage .item {
        padding: 0px 30px;
    }

    .main-slider .h1 {
        font-size: 81px;
    }

    .l-main {
        padding-top: 112px;
    }

    .main-slider .slide {
        height: 811px;
    }

    .main-slider .slick-arrow {
        top: 228px;
        z-index: 2;
    }

    .main-slider .slick-prev {
        left: 105px;
    }

    .main-slider .slick-next {
        left: 121px;
    }

    .main-slider:after {
        bottom: -29px;
        height: 388px;
        right: -18px;
        width: 488px;
    }

    .main-slider .slick-dots {
        margin-right: 107px;
    }

    .main-slider .slick-next {
        left: 168px;
    }
}


@media screen and (min-width: 1700px) {

    .main-slider .texts-block {
        width: 1156px;
    }

    .main-slider .slick-next {
        left: 185px;
    }
}


@media screen and(min-width: 1800px) {

    .news-slider .slick-dots {
        // transform: translate(-73%, -181px);
        transform: translate(-68%, -181px);
    }

    .slide-into,
    .white-block .image-part {
        width: 588px;
    }
}