extends ./helpers/layout/_layout

block value
  - const path = "./";
  - const headpick = true;

block header
  include components/header/_header

block main
  include components/pages/_buy

block footer
  include components/footer/_footer