extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const documents = true;

block header
  include components/header/_header

block main
  include components/pages/_documents

block footer
  include components/footer/_footer