extends ./helpers/layout/_layout

block value
  - const path = "./";
  - const one_news = true;

block header
  include components/header/_header

block main
  include components/pages/_one_news

block footer
  include components/footer/_footer