.page
    .header-part(data-bg="./img/illustrate/docs-d.jpg" )
        .blue-block
        h1.h1.sanimate.fadeInUp Вирішення спорів
    .container-main        
            h2 Спори між споживачем і постачальником
            p  
                | Спори між споживачем і постачальником вирішуються 
                strong шляхом досудового врегулювання спорів 
                | у прозорий, справедливий і швидкий спосіб. Постачальник зобов'язаний розглянути всі скарги, отримані від споживачів, і протягом одного місяця повідомити про результати їх розгляду.
            p 
                strong У разі недосягнення 
                | між споживачем та постачальником згоди спірні питання вирішуються 
                strong у порядку, встановленому чинним законодавством, 
                | у тому числі в судовому порядку.
            p Відшкодування збитків постачальником споживачу здійснюється відповідно до Правил постачання природного газу, затверджених постановою НКРЕКП від 30.09.2015 № 2496.
            h2 Iніціювання процедури відшкодування
            p  
                | Для ініціювання процедури відшкодування збитків споживач складає в довільній формі 
                strong акт-претензію, 
                | в якому зазначає підстави та розмір нарахованих збитків, та надсилає його постачальнику поштовим відправленням з позначкою про вручення, а постачальник зобов’язаний не пізніше двадцяти робочих днів з моменту його отримання відшкодувати завдані збитки або написати мотивовану відмову від їх повного або часткового відшкодування.
            h2 Розгляд скарг та врегулювання спорів 
            p  Крім того, розгляд скарг та врегулювання спорів здійснює НКРЕКП згідно зі статтею 21 Закону України «Про Національну комісію, що здійснює державне регулювання у сферах енергетики та комунальних послуг».
            p  НКРЕКП розглядає скарги споживачів щодо порушення їхніх прав та інтересів суб’єктами господарювання, що провадять діяльність у сферах енергетики та комунальних послуг, а також вирішує спори, що виникають між суб’єктами господарювання, що провадять діяльність у сферах енергетики та комунальних послуг, з питань:
            ul
                li доступу/приєднання до електричних, теплових та газових мереж, нафто- та продуктопроводів, мереж централізованого водопостачання і водовідведення;
                li якості товарів і послуг, що надаються споживачам у сферах енергетики та комунальних послуг;
                li дотримання суб’єктами господарювання ліцензійних умов;
                li інших питань, розгляд яких віднесено законом до компетенції Регулятора.
            blockquote 
                strong  Рішення, 
                | прийняте Регулятором у ході досудового розгляду спору, 
                strong є обов’язковим 
                | до виконання учасниками спору і може бути оскаржене в суді.
            p  Вирішення спорів, що виникають між суб’єктами господарювання, що провадять діяльність у сферах енергетики та комунальних послуг, а також між суб’єктами управління об’єктами державної власності, що використовуються у процесі провадження діяльності з транспортування та/або зберігання природного газу, передачі електричної енергії, оператором системи передачі електричної енергії, оператором газотранспортної системи та/або оператором газосховищ, здійснюється у порядку, затвердженому НКРЕКП.
            p 
                    | Контактна інформація щодо осіб, відповідальних за розв’язання спорів знаходиться за посиланням  на 
                    a(href="#") сторінці контактів   
