.page
    .header-part(data-bg="./img/illustrate/docs-d.jpg" data-bg-mob="./img/illustrate/docs-m.jpg")
        .blue-block
        h1.h1 Вирішення спорів
    .container-main
        .text-block
            p.h2.title Спори між споживачем і постачальником
            p.standart-text  
                | Спори між споживачем і постачальником вирішуються 
                span.bold шляхом досудового врегулювання спорів 
                | у прозорий, справедливий і швидкий спосіб. Постачальник зобов'язаний розглянути всі скарги, отримані від споживачів, і протягом одного місяця повідомити про результати їх розгляду.
            p.standart-text  
                span.bold У разі недосягнення 
                | між споживачем та постачальником згоди спірні питання вирішуються 
                span.bold у порядку, встановленому чинним законодавством, 
                | у тому числі в судовому порядку.
            p.standart-text Відшкодування збитків постачальником споживачу здійснюється відповідно до Правил постачання природного газу, затверджених постановою НКРЕКП від 30.09.2015 № 2496.
        .text-block
            p.h2.title Iніціювання процедури відшкодування
            p.standart-text  
                | Для ініціювання процедури відшкодування збитків споживач складає в довільній формі 
                span.bold акт-претензію, 
                | в якому зазначає підстави та розмір нарахованих збитків, та надсилає його постачальнику поштовим відправленням з позначкою про вручення, а постачальник зобов’язаний не пізніше двадцяти робочих днів з моменту його отримання відшкодувати завдані збитки або написати мотивовану відмову від їх повного або часткового відшкодування.