.page
    .header-part(data-bg="./img/illustrate/graph.jpg" data-bg-mob="./img/illustrate/graph.jpg")
        .blue-block
        h1.h1.sanimate.fadeInUp Закупівлі
    .container-main
        .text-block
            h2.h2.align-left.scroll.sanimate.margin-small Електронні біржові торги
            p.standart-text.scroll.sanimate  
                | Електронні біржові торги проводяться відповідно до Правил біржової торгівлі на ТОВ «Українська енергетична біржа» (ТОВ «УЕБ»)  та Регламенту проведення електронних біржових торгів на ТБ "Українська енергетична біржа".
            p.standart-text.scroll.sanimate Електронні біржові торги проводяться в Програмному продукті "Біржова електронна торгова система" (ПП БЕТС).
            p.standart-text.scroll.sanimate Брати участь в електронних біржових торгах можуть юридичні особи та фізичні особи-підприємці резиденти/нерезиденти, що мають таке право згідно з чинним законодавством України, набувши статусу непостійного члена біржі, так і скориставшись послугами брокерської контори, що має акредитацію на ТОВ «Українська енергетична біржа» (ТОВ «УЕБ») 
            p.standart-text.scroll.sanimate З метою отримання можливості брати участь у біржових торгах необхідно пройти перевірку служби комплаєнсу. 