.page
    .header-part(data-bg="./img/illustrate/client-d.png" data-bg-mob="./img/illustrate/client-mob.png")
        .blue-block
        h1.h1 Газ для бюджетних організацій
    .container-main
        p.h2.title.s-20 
            | ТОВ Газопостачальну компанія “Нафтогаз Трейдинг” визначено постачальником природнього газу для бюджетних організацій на території України в рамках дії 
            span.bold постанови покладення спеціальних обов'язків (ПСО) до 31 серпня 2024 року.
        p.h2.title.s-20 
            spn.bold Ціна природного газу 
            | з урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед, 
            spn.bold становить 16 553,89 грн за 1000 куб. м з ПДВ.
        p.h2.title.s-20.light Порядок дій залежно від вартості договору поставки газу: 
        .tabs.cards 
            //- .accordion.card-link  
            //-     .accordion-head 1 dfgert
            //-     .panel Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, praesentium? Suscipit soluta ipsum alias ad nesciunt libero dignissimos expedita? Optio delectus harum distinctio eos soluta atque ab exercitationem dolor! Consequuntur.
            .wrap-tab
                .accordion.card-link 
                    .number 
                    .text Якщо вартість поставки не перевищує 100 тисяч
                .panel.lists-wrap 
                    p.standart-text.list-item Заповнити Анкету (посилання), вказавши обсяги.
                    p.standart-text.list-item Разом з Анкетою надати наступні документи:
                    ul.dots-list                 
                        li.standart-text 
                            | Лист-звернення про намір  укласти договір закупівлі без використання електронної системи закупівель з певним обґрунтуванням підписання договору 
                            a(href="#") (Зразок)
                        li.standart-text Статут, Положення тощо
                        li.standart-text Витяг з Єдиного державного  реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий  протягом місяця)
                        li.standart-text Витяг  з реєстру  платників ПДВ 
                        li.standart-text Документи на підписанта  (протокол , рішення, наказ,  контракт, тощо) про призначення      керівника Замовника, довіреність  (у разі потреби) на підписання  договору постачання природного газу та протоколу переговорів
                        li.standart-text Довідка, документ, що  підтверджує, що дана установа є бюджетною (це може бути Витяг з реєстру  неприбуткових установ з присвоєним кодом 0031)
                        li.standart-text Реквізити для укладання  договору споживача
                    p.standart-text.list-item 
                        | Надіслати заповнену анкету та пакет документів електронною поштою: 
                        a(href="#") ngt@naftogaztrading.com.ua
                    p.standart-text.list-item 
                        | Виконати всі необхідні дії згідно з Законом України «Про публічні закупівлі» та Постанови КМУ від 12.10.2022 р. №1178.
                    .gray-part
                        p.gray-title ВАЖЛИВО!
                        p.standart-text 
                            | Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору».
                            | Нагадуємо, що зручніше підписувати договір за допомогою КЕП/УЕП через сервіси «M.E.Doc» і «ВЧАСНО», тому радимо скористатися ними та повідомити про це у листі-зверненні. 
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .number 
                    .text Якщо вартість поставки дорівнює або перевищує 100 тисяч гривень
                .panel
                    .lists-wrap
                        p.standart-text 
                            | У відповідності до п.13 Постанови 1178 від 12 жовтня 2022 року, 
                            a(href="#") «Про затвердження особливостей здійснення публічних закупівель товарів, робіт і послуг для замовників, передбачених Законом України “Про публічні закупівлі”, на період дії правового режиму воєнного стану в Україні та протягом 90 днів з дня його припинення або скасування» 
                            | (Далі-Постанова 1178 або Особливості), існує вичерпний перелік випадків укладення договорів на придбання замовниками товарів і послуг (крім послуг з поточного ремонту), вартість яких становить або перевищує 100 тис. гривень, шляхом укладення договору про закупівлю без застосування відкритих торгів та/або електронного каталогу для закупівлі товару.
                        p.standart-text 
                            |  - 
                            span.bold Порядок дій клієнта 
                            | для укладення договору вартість якого становить або перевищує 100 тис. у відповідності до п.п.2, п.13 Особливостей, а саме 
                            span.bold замовник перебуває на території активних бойових дій, 
                            | які не були завершені на дату укладення договору про закупівлю.
                        p.standart-text Необхідно: 
                        p.standart-text.list-item Заповнити Анкету, що розміщена на сайті за посиланням, вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text 
                                | Лист-звернення про намір  укласти договір закупівлі без використання електронної системи закупівель  з певним обґрунтуванням підписання договору 
                                a(href="#") (Зразок)
                            li.standart-text Статут, Положення тощо
                            li.standart-text Витяг з Єдиного державного  реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий  протягом місяця)
                            li.standart-text Витяг  з реєстру  платників ПДВ 
                            li.standart-text Заява-приєднання (це додаток  до Договору на розподіл, де прописано ЕІС-код підприємства)
                            li.standart-text Документи на підписанта      (протокол , рішення, наказ,  контракт, тощо) про призначення      керівника Замовника, довіреність  (у разі потреби) на підписання      договору постачання природного газу та протоколу переговорів
                            li.standart-text Довідка, документ, що  підтверджує, що дана установа є бюджетною (це може бути Витяг з реєстру  неприбуткових установ з присвоєним кодом 0031)
                            li.standart-text Реквізити для укладання  договору споживача
                        p.standart-text.list-item 
                            | Надіслати заповнену анкету та пакет документів електронною поштою: 
                            a(href="mailto:ngt@naftogaztrading.com.ua") ngt@naftogaztrading.com.ua
                        p.standart-text.list-item 
                            | Виконати всі необхідні дії згідно з Законом України «Про публічні закупівлі» та Постанови КМУ від 12.10.2022 р. №1178.
                    .lists-wrap    
                        p.standart-text 
                            | - 
                            span.bold Порядок дій клієнта, 
                            | для укладення договору вартість якого становить або перевищує 100 тис. у відповідності до п.п.6, п.13 Особливостей, а саме 
                            span.bold замовником було відмінено відкриті торги через неподання жодної тендерної пропозиції 
                            | для участі у строк, встановлений Постановою 1178, замовник має право укласти договір, вартість якого становить або перевищує 100 тис.грн., використовуючи п.п.6 п.13, при цьому:
                        .attention-block 
                            p.attention-head УВАГА!!! 
                            p.standart-text 
                                span.bold «Предмет закупівлі, його технічні, кількісні та якісні характеристики, проект договору про закупівлю, а також вимоги до суб’єкта, з яким укладається договір про закупівлю, не повинні відрізнятися від вимог, що були визначені замовником у тендерній документації (крім вимог, визначених пунктом 47 цих особливостей), та сума договору про закупівлю не може перевищувати очікувану вартість предмета закупівлі, зазначену замовником в оголошенні про проведення відкритих торгів, які відмінено через відсутність достатньої кількості учасників процедури закупівлі.»
                        p.standart-text Необхідно: 
                        p.standart-text.list-item Заповнити Анкету, що розміщена на сайті за посиланням, вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text Лист-звернення про намір  укласти договір закупівлі без використання електронної системи закупівель  з певним обґрунтуванням підписання договору 
                                a(href="#") (Зразок)
                            li.standart-text Статут, Положення тощо
                            li.standart-text Витяг з Єдиного державного  реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий  протягом місяця)
                            li.standart-text Витяг  з реєстру  платників ПДВ 
                            li.standart-text Заява-приєднання (це додаток  до Договору на розподіл, де прописано ЕІС-код підприємства)
                            li.standart-text Документи на підписанта      (протокол , рішення, наказ,  контракт, тощо) про призначення      керівника Замовника, довіреність  (у разі потреби) на підписання      договору постачання природного газу та протоколу переговорів
                            li.standart-text Довідка, документ, що  підтверджує, що дана установа є бюджетною (це може бути Витяг з реєстру  неприбуткових установ з присвоєним кодом 0031)
                            li.standart-text Реквізити для укладання  договору споживача
                        p.standart-text.list-item 
                            | Надіслати заповнену анкету та пакет документів електронною поштою: 
                            a(href="#") ngt@naftogaztrading.com.ua
                        p.standart-text.list-item
                            | Виконати всі необхідні дії згідно з Законом України «Про публічні закупівлі» та Постанови КМУ від 12.10.2022 р. №1178.
                    .lists-wrap    
                        p.standart-text.bold Нагадуємо:   
                        p.standart-text  Договір укладений у  відповідності до п.13 Постанови 1178, має бути:
                        ul.dots-list                 
                            li.standart-text Включений до річного плану закупівель – публікується протягом 5 робочих днів з дня затвердження річного плану;
                            li.standart-text Оприлюднений звіт про укладений договір - публікується не пізніше ніж через 10 робочих днів з дня укладення такого договору.
                    .gray-part
                        p.gray-title ВАЖЛИВО!
                        p.standart-text 
                            | Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору».
                            | Нагадуємо, що зручніше підписувати договір за допомогою КЕП/УЕП через сервіси «M.E.Doc» і «ВЧАСНО», тому радимо скористатися ними та повідомити про це у листі-зверненні.
                        
                    .margin-30