.page
    .header-part(data-bg="./img/illustrate/client-d.png" data-bg-mob="./img/illustrate/client-mob.png")
        .blue-block
        h1.h1 Газ для бюджетних організацій
    .container-main
        p.h2.title.s-20 
            | ТОВ Газопостачальну компанія “Нафтогаз Трейдинг” визначено постачальником природнього газу для бюджетних організацій на території України в рамках дії 
            span.bold постанови покладення спеціальних обов'язків (ПСО) до 31 серпня 2024 року.
        p.h2.title.s-20 
            spn.bold Ціна природного газу 
            | з урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед, 
            spn.bold становить 16 553,89 грн за 1000 куб. м з ПДВ.
        p.standart-text.big-size Порядок дій залежно від вартості договору поставки газу: 
        .tabs.cards 
            //- .accordion.card-link  
            //-     .accordion-head 1 dfgert
            //-     .panel Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, praesentium? Suscipit soluta ipsum alias ad nesciunt libero dignissimos expedita? Optio delectus harum distinctio eos soluta atque ab exercitationem dolor! Consequuntur.
            .wrap-tab
                .accordion.card-link 
                    .number 
                    .text Якщо вартість поставки не перевищує 100 тисяч
                .panel 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, praesentium? Suscipit soluta ipsum alias ad nesciunt libero dignissimos expedita? Optio delectus harum distinctio eos soluta atque ab exercitationem dolor! Consequuntur.
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .number 
                    .text Якщо вартість поставки дорівнює або перевищує 100 тисяч гривень
                .panel 
                    h2.h2 poldjfglkjn
                    p.standart-text Lorem ipsum dolor sit 
                    .margin-30