.page
    .header-part(data-bg="./img/illustrate/client-d.png" data-bg-mob="./img/illustrate/client-mob.png")
        .blue-block
        h1.h1.sanimate.fadeInUp Контакти
    .container-main
        .contact
            h2.title Наші контакти
            .desc.
                Номер контакт-центру ТОВ “ГК”Нафтогаз Трейдинг”
                для питань постачання природного газу
                для категорій: ТКЕ/ОСББ/БО/РО:
            .phone
                img.img(src="./img/icons/phone-black.svg", alt="phone number")
                span.text 044-222-24-46
            .email
                img.img(src="./img/icons/mail-black.svg", alt="email address")
                span.text ngt@naftogaztrading.com.ua
            .clock
                img.img(src="./img/icons/clock.svg", alt="time work")
                span.text пн-пт: 9:00-18:00