.page
    .header-part(data-bg="./img/illustrate/contacts.png" )
        .blue-block
        h1.h1.sanimate.fadeInUp Контакти
    .container-main
        .contact
            p.h2.margin-small.bold Наші контакти
            .contacts-back-block
                .top-part 
                    .left 
                        p.standart-text.top-name.scroll.sanimate  Номер контакт-центру ТОВ “ГК”Нафтогаз Трейдинг” для питань постачання природного газу для категорій: ТКЕ/ОСББ/БО/РО:
                    .right 
                        ul.links-list.scroll.sanimate 
                            li.links_li.contacts-li 
                                .image-c-wrap 
                                    img.contacts-img(src="./img/icons/phone-black.svg", alt="phone number") 
                                a(href="tel:380442222446" aria-label="посилання на пошту" ).links_a 044-222-24-46
                            li.links_li.contacts-li 
                                .image-c-wrap 
                                    img.contacts-img(src="./img/icons/mail-black.svg", alt="email address") 
                                a(href="mailto:ngt@naftogaztrading.com.ua" aria-label="посилання на пошту" ).links_a ngt@naftogaztrading.com.ua 
                            li.links_li.contacts-li 
                                .image-c-wrap 
                                    img.contacts-img(src="./img/icons/time-black.svg", alt="") 
                                a(href="#" aria-label="час роботи").links_a пн-пт: 9:00-18:00
               
                .bottom-part 
                    .to-left 
                        .links-block 
                            p.links-header.scroll.sanimate Адреса приміщення:
                            ul.links-list.scroll.sanimate 
                                li.links_li.contacts-li
                                    .image-c-wrap 
                                        img.contacts-img(src="./img/icons/local-black.svg", alt="") 
                                    a(href="https://maps.app.goo.gl/7rjgAHsNDMLR2vER7" aria-label="адреса" ).links_a м. Київ, вул. Шолуденка, будинок 1
                                li.links_li.contacts-li 
                                    .image-c-wrap 
                                        img.contacts-img(src="./img/icons/phone-black.svg", alt="") 
                                    a(href="phone:+380442222446" aria-label="Телефоний номер").links_a (044) 222-24-46 (Контакт-центр)
                                li.links_li.contacts-li 
                                    .image-c-wrap
                                        img.contacts-img(src="./img/icons/mail-black.svg", alt="email address") 
                                    a(href="mailto:ngt@naftogaztrading.com.ua" aria-label="посилання на пошту" ).links_a ngt@naftogaztrading.com.ua 
                        .links-block 
                                p.links-header.scroll.sanimate Юридична адреса
                                ul.links-list.scroll.sanimate 
                                    li.links_li.contacts-li
                                        .image-c-wrap    
                                            img.contacts-img(src="./img/icons/local-black.svg", alt="") 
                                        a(href="https://maps.app.goo.gl/7rjgAHsNDMLR2vER7" aria-label="адреса" ).links_a м. Київ, вул. Шолуденка, будинок 1
                        .links-block 
                                p.links-header.scroll.sanimate Режим роботи
                                ul.links-list.scroll.sanimate 
                                    li.links_li.contacts-li
                                        .image-c-wrap 
                                            img.contacts-img(src="./img/icons/time-black.svg", alt="") 
                                        a(href="#" aria-label="час роботи").links_a пн-пт: 9:00-18:00
                        
                    .to-right 
                        .map-wrap.scroll.sanimate 
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10162.475177471722!2d30.46895487618905!3d50.44820083424595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce86796229ef%3A0xc5c60f7b6949cab2!2z0YPQuy4g0KjQvtC70YPQtNC10L3QutC-LCAxLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1720315956041!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')







            //- .desc.
            //-     Номер контакт-центру ТОВ “ГК”Нафтогаз Трейдинг”
            //-     для питань постачання природного газу
            //-     для категорій: ТКЕ/ОСББ/БО/РО:
            //- .phone
            //-     img.img(src="./img/icons/phone-black.svg", alt="phone number")
            //-     span.text 044-222-24-46
            //- .email
            //-     img.img(src="./img/icons/mail-black.svg", alt="email address")
            //-     span.text ngt@naftogaztrading.com.ua
            //- .clock
            //-     img.img(src="./img/icons/clock.svg", alt="time work")
            //-     span.text пн-пт: 9:00-18:00