.page
    .header-part(data-bg="./img/illustrate/docs-d.jpg" )
        .blue-block
        h1.h1.sanimate.fadeInUp Нормативні документи
    .container-main
        p На цій сторінці ви можете ознайомитись з нормативними документами та законодавчою базою щодо постачання газу
        //- h2.h2.scroll.sanimate На цій сторінці ви можете ознайомитись з нормативними документами та законодавчою базою щодо постачання газу
        .card-block.docs-warap 
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/link.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Правила постачання природного газу
                    p.standart-text Постанова Національної комісії, що здійснює державне регулювання у сферах енергетики та комунальних послуг від 30.09.2015  № 2496
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Перейти
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/xls.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Про ринок природного газу
                    p.standart-text Закон України від 9 квітня 2015 №329-VIII
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/doc.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Кодекс газотранспортної системи
                    p.standart-text Постанова Національної комісії, що здійснює державне регулювання у сферах енергетики та комунальних послуг від 30.09.2015  № 2493
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити  
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Порядок пооб'єктового припинення (обмеження) газопостачання споживачам, крім населення
                    p.standart-text Постанова Кабінета Міністрів України від 8 грудня 2006 р. № 1687
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити
            
            
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Антикорупційні програми
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Кодекс корпоративної етики
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block                    
                    a(href="#").h2 Статут Товариства
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити
            .card-link.scroll.sanimate 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2 Про затвердження Мінімальних стандартів та вимог до якості обслуговування споживачів та постачання природного газу
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити

        .padding-wrap            
            ul.icons-set 
                a(href="#").icon-place.scroll.sanimate 
                    .icon-wrap 
                        img(src="./img/icons/doc1.svg", alt="") 
                    .icon-name  Порядок укладання договорів
                a(href="#").icon-place.scroll.sanimate 
                    .icon-wrap 
                        img(src="./img/icons/news.svg", alt="") 
                    .icon-name  Оголошення для клієнтів
                a(href="#").icon-place.scroll.sanimate 
                    .icon-wrap 
                        img(src="./img/icons/doc2.svg", alt="") 
                    .icon-name 
                        | Зразки
                        br
                        | договорів
                a(href="#").icon-place.scroll.sanimate 
                    .icon-wrap 
                        img(src="./img/icons/justice.svg", alt="") 
                    .icon-name  Права та обов’язки сторін
