.page
    .header-part(data-bg="./img/illustrate/factory.png" data-bg-mob="./img/illustrate/png")
        .blue-block
        h1.h1.sanimate.fadeInUp Газ для великих підприємств
    .container-main
        .wrap-intro
                p.h2.title.s-20.scroll.sanimate 
                    span.bold  Для початку співпраці з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”, відповідно до внутрішніх документів Групи Нафтогаз, потенційний контрагент, юридична особа, має обов’язково пройти перевірку служби комплаєнсу до моменту укладення договору з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (надалі також – Товариство).
        .tabs.cards           
            .wrap-tab.scroll.sanimate            
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text 
                        | Порядок дій клієнта (непобутового кінцевого споживача) для укладання договору постачання природного газу з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”
                .panel
                    .lists-wrap 
                        p.standart-text.list-item.scroll.sanimate 
                            | Ознайомитись з умовами Договору
                            a(href="#").text-link.scroll.sanimate за посиланням.
                        p.standart-text.list-item.scroll.sanimate Заповнити та підписати Опитувальник Контрагента за посиланням. 
                        p.standart-text.list-item.scroll.sanimate Разом з Опитувальником Клієнта надати наступні документи:
                        ul.dots-list                 
                            li.standart-text.scroll.sanimate  
                                | Копія статуту підприємства;
                            li.standart-text.scroll.sanimate Копія витягу з реєстру платників ПДВ;
                            li.standart-text.scroll.sanimate Копія виписки та/або витягу з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (ЄДР);
                            li.standart-text.scroll.sanimate Копія протоколу про призначення керівника підприємства;
                            li.standart-text.scroll.sanimate Копія наказу про призначення на посаду керівника підприємства;
                            li.standart-text.scroll.sanimate  Копія рішення відповідного органу управління щодо надання підписанту повноважень, необхідних для укладання договору постачання природного газу (у разі наявності обмежень прав підписанта на підписання договору постачання природного газу);
                            li.standart-text.scroll.sanimate  Копія довіреності на уповноважену особу, що буде представляти інтереси Споживача, із чітким зазначенням обсягів його повноважень (у разі підписання договору уповноваженою особою);
                            li.standart-text.scroll.sanimate  Копія Балансу (Звіт про фінансовий стан) за попередній квартал та минулий рік;
                            li.standart-text.scroll.sanimate Копія рішення уповноваженого органу на надання згоди на укладення значного правочину (у разі, якщо укладені договори є значними правочинами згідно чинного законодавства) або довідку за підписом керівника товариства про те, що укладені договори не є значними правочинами (оригінал)
                            li.standart-text.scroll.sanimate Копія документа, яким визначено право власності чи користування на об'єкт споживача.
                            li.standart-text.scroll.sanimate Копія Заяви-приєднання до умов договору розподілу природного газу
                            li.standart-text.scroll.sanimate Заповнені реквізити:
                                br
                                | _________________(назва юр особи)_____, ЕІС-код  ________________, юридична особа, що створена та діє відповідно до законодавства України, має статус платника податку на прибуток на загальних умовах, надалі – Споживач, в особі ____________________________________________, який / яка діє на підставі ________________, з іншої сторони,
                                | Найменування Оператора ГРМ, з яким Споживач уклав договір розподілу  природного газу ________________________________________________________________.
                                br 
                                | Перелік EIC-кодів точки/точок комерційного обліку Споживача, по яким буде здійснюватися постачання природного газу.
                                img(src="./img/illustrate/table.png", alt="").panel-table
                        p.standart-text.list-item.scroll.sanimate 
                            | З метою проходження комплаєнс перевірки звертаємося з проханням направити на електронну пошту 
                            a(href="mailto:ngt@naftogaztrading.com.ua").text-link  ngt@naftogaztrading.com.ua 
                            |та 
                            a(href="o.mahda@naftogaztrading.com.ua").text-link o.mahda@naftogaztrading.com.ua 
                            | заповнений Опитувальник Контрагента з подальшим надсиланням оригіналу поштовим відправленням з описом вкладення за адресою: 
                            span.bold 04116, м. Київ, вул. Шолуденка, 1, 
                            | а також надати завірені копії документів згідно з переліком, що вказаний в п.3.
                        .gray-part
                            p.gray-title.scroll.sanimate Як оформити електронний лист з договірною документацією:
                            .standart-text.bold
                                | Всі документи повинні бути:
                                | а) відскановані окремими файлами належної якості;
                                | б) назва файлу повинна відповідати змісту документа (наприклад “Статут”); 
                                | в) опитувальник Клієнта обов’язково має бути заповнений та підписаний..
                                | У темі повідомлення вкажіть назву Підприємства та код ЄДРПОУ (наприклад, Тема: ТОВ «Сонячний зайчик» код 34659585).
                                | У тексті повідомлення зазначте ПІБ контактної особи (керівника або підписанта Договору), телефон, посаду. 
                        p.standart-text.list-item.scroll.sanimate Після отримання повного пакету документів та проходження перевірки служби комплаєнсу, у випадку відсутності зауважень, працівниками Компанії буде підготовлено договір постачання природного газу, який буде або надіслано Клієнту в електронних сервісах “Вчасно” або “M.E.Doc”, або направлено поштою в паперовому вигляді для підписання 
                        .gray-part.scroll.sanimate
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору» і відповідний проект Договору завантажується не сервіс обміну електронних документів «Vchasno.ua» або «M.E.Doc».
                        .margin-30    
            .wrap-tab.scroll.sanimate            
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text 
                        | Додаткові вимоги до документів
                .panel
                    .lists-wrap 
                        p.standart-text.list-item.scroll.sanimate 
                            | У розумінні ст. 44 Закону України “Про товариства з обмеженою та додатковою відповідальністю” №2275-VIII від 06.02.2018 р. або п.4), ст.2, ст. 70 Закону України “Про акціонерні товариства” № 514-VI від 17.09.2008 р., залежно від організаційно-правової форми підприємства.
                        p.standart-text.scroll.sanimate
                            | Для господарських товариств не акціонерного типу (ст. 44 Закону України “Про товариства з обмеженою та додатковою відповідальністю”):
                        p.standart-text.scroll.sanimate а) Рішення Загальних зборів учасників про надання згоди на вчинення значного правочину, якщо вартість обсягу природного газу, що є предметом такого правочину, перевищує 50 відсотків вартості чистих активів товариства станом на кінець попереднього кварталу.
                        p.standart-text.scroll.sanimate б) Довідка про те, що вартість предмету договору не перевищує 50 відсотків (якщо інший розмір не передбачено статутом контрагента) вартості чистих активів товариства станом на кінець попереднього кварталу та не потребує окремого рішення Загальних зборів (або іншого органу Товариства відповідно до статуту).
                        p.standart-text.list-item.scroll.sanimate Для акціонерних товариств (ст. 70 Закону України “Про акціонерні товариства”):
                        p.standart-text.scroll.sanimate а) Рішення Наглядової ради про надання згоди на вчинення значного правочину, якщо ринкова вартість обсягу природного газу, що є його предметом, становить від 10 до 25 відсотків вартості активів за даними останньої річної фінансової звітності акціонерного товариства.
                        p.standart-text.scroll.sanimate б) Рішення Загальних зборів, якщо ринкова вартість майна або послуг, що є предметом значного правочину, перевищує 25 відсотків вартості активів за даними останньої річної фінансової звітності акціонерного товариства.    
                        p.standart-text.scroll.sanimate в) Довідка про те, що вартість предмету договору не перевищує 10 відсотків (якщо інший розмір не передбачено статутом контрагента) вартості активів за даними останньої річної фінансової звітності акціонерного товариства.
                    .margin-30
            //- .wrap-tab.scroll.sanimate
            //-     .accordion.card-link 
            //-         .icon-money
            //-             img(src="./img/icons/money.svg", alt="") 
            //-         .text Як здійснюється оплата?
            //-     .panel
            //-         .lists-wrap 
            //-             p.standart-text Для початку співпраці з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”, відповідно до внутрішніх документів Групи Нафтогаз, потенційний контрагент, юридична особа, має обов’язково пройти перевірку служби комплаєнсу до моменту укладення договору з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (надалі також – Товариство).
            //-         .margin-30