main.l-main
    .main-slider 
        .slide 
            h1.h1 Стабільне постачання газу для промислових  споживачів           
        .slide 
            h1.h1 Стабільне постачання газу для промислових  споживачів
    .text-block 
        h2.subheader text 
        p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis officia velit porro fugiat eum ipsa maiores veritatis cumque illo, assumenda magnam ex cupiditate similique, hic animi reprehenderit consequuntur necessitatibus?   
    .text-block 
        h2.subheader text
        .clients-slider 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
            .slide 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quis 
