.page
    .header-part(data-bg="./img/illustrate/client-d.png" )
        .blue-block
        h1.h1.sanimate.fadeInUp Новини
    .container-main
        .wrap-all-news 
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business.jpg", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place     
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business2.jpg", alt="")
                .news-info 
                    p.news-text Уряд продовжив дію спеціальних обов’язків, покладених на Нафтогаз Трейдинг щодо постачання газу виробникам тепла
                .arrow-place 
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business3.jpg", alt="")
                .news-info 
                    p.news-text До уваги підприємств постачальників тепла (теплокомуненерго)!
                .arrow-place     
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem1.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place 
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem2.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place     
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem3.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place 
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem4.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place     
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem5.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place 
            a(href="#").news-item.scroll.sanimate
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem6.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                .arrow-place    

   
        .pagination-place    
            .page-pagination.scroll.sanimate
                span.page-numbers.current(aria-current='page') 1
                a.page-numbers(href='#') 2
                a.page-numbers(href='#') 3
                span.page-numbers.dots &mldr;
                a.page-numbers(href='#') 6
                a.next.page-numbers(href='#')