.page
    .header-part(data-bg="./img/illustrate/client-d.png" data-bg-mob="./img/illustrate/client-mob.png")
        .blue-block
        h1.h1 Новини
    .container-main
        .wrap-all-news 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business.jpg", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business2.jpg", alt="")
                .news-info 
                    p.news-text Уряд продовжив дію спеціальних обов’язків, покладених на Нафтогаз Трейдинг щодо постачання газу виробникам тепла
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business3.jpg", alt="")
                .news-info 
                    p.news-text До уваги підприємств постачальників тепла (теплокомуненерго)!
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem1.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem2.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem3.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem4.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem5.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem6.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business.jpg", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business2.jpg", alt="")
                .news-info 
                    p.news-text Уряд продовжив дію спеціальних обов’язків, покладених на Нафтогаз Трейдинг щодо постачання газу виробникам тепла
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business3.jpg", alt="")
                .news-info 
                    p.news-text До уваги підприємств постачальників тепла (теплокомуненерго)!
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem1.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem2.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem3.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem5.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem6.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem4.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business.jpg", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business2.jpg", alt="")
                .news-info 
                    p.news-text Уряд продовжив дію спеціальних обов’язків, покладених на Нафтогаз Трейдинг щодо постачання газу виробникам тепла
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/business3.jpg", alt="")
                .news-info 
                    p.news-text До уваги підприємств постачальників тепла (теплокомуненерго)!
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem1.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem2.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem5.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem6.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem3.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place 
            .news-item
                .wrap-news-illustrate
                    img.news-illustrate(src="./img/illustrate/rem4.png", alt="")
                .news-info 
                    p.news-text Укладення договорів на постачання газу для виробників тепла на міжопалювальний сезон 2024 року
                    .arrow-place     
 
        .pagination-place    
            .pagination 
                .arr.arr-legt  
                    img(src="./img/icons/grey-arr-l.svg", alt="")
                .num(data-targetSlide="1").active 
                    span 1
                .num(data-targetSlide="2") 
                    span 2
                .dots ...
                .num(data-targetSlide="10") 
                    span 10 
                .arr.arr-right 
                    img.rr(src="./img/icons/grey-arr-l.svg", alt="")