.page
    .header-part(data-bg="./img/illustrate/one_news.jpg" data-bg-mob="./img/illustrate/one_news.jpg")
        .blue-block
        h1.h1.sanimate.fadeInUp Новини та оголошення для клієнтів
    .container-main
        .text-block
            h2.h2.align-left.scroll.sanimate.margin-small Уряд на місяць продовжив дію ПСО для виробників тепла та бюджетних організацій
            .date-block.scroll.sanimate 
                .calendar 
                p.date 1.04.2023
            p.standart-text.scroll.sanimate  
                | 30 березня Кабінет Міністрів України на місяць – до 30 квітня 2023 року – продовжив дію спеціальних обов’язків (ПСО), покладених на Газопостачальну компанію «Нафтогаз Трейдинг», щодо постачання природного газу виробникам тепла (Постанова КМУ від 30.03.2023 №277).
            p.standart-text.scroll.sanimate    
                |   Усім виробникам теплової енергії розіслані відповідні додаткові угоди, які продовжують дію договорів, що були укладені в межах ПСО. Закликаємо активізувати процес підписання договорів та, у разі потреби, звертатися до фахівців за консультацією 
                a(href="#").text-link (всі необхідні телефони розміщено тут).   
            p.standart-text.scroll.sanimate  Для продовження угоди виробники тепла мають зробити такі кроки:
            ul.dots-list
                li.standart-text.scroll.sanimate  Перевірити отримання додаткової угоди.
                li.standart-text.scroll.sanimate Взяти довідку про затверджені фіксовані обсяги споживання природного газу в Міністерстві інфраструктури (далі — Мінінфраструктури).
                li.standart-text.scroll.sanimate   Підписати додаткову угоду та подати її до Нафтогаз Трейдинг.
            p.standart-text Підприємства, що підпишуть додаткові угоди, будуть мати право споживати природний газ з ресурсу Нафтогаз Трейдингу та будуть зареєстровані на Інформаційній платформі Оператора ГТС, навіть тимчасово не маючи затверджених Мінінфраструктури фіксованих обсягів споживання природного газу.
            .simple-image-wrap.scroll.sanimate 
                img.simple-image(src="./img/illustrate/one_news.jpg", alt="") 
            p.standart-text.scroll.sanimate При цьому вартість обсягів газу, що буде споживатися без довідки Мінінфраструктури, обчислюватиметься за ціною обсягу ІІ, визначеною Положенням про ПСО.
            p.standart-text.scroll.sanimate Але, у разі надання виробником теплової енергії до Нафтогаз Трейдингу до 30 квітня цього року затверджених Мінінфраструктури фіксованих обсягів, оформлення спожитого газу такому підприємству буде здійснюватися за цінами, що встановлені відповідно до цих фіксованих обсягів.
            p.standart-text.scroll.sanimate Це не стосується ОСББ та тих організацій, яким відповідно до Положення про ПСО Мінінфраструктури не затверджує фіксовані обсяги. ОСББ просто підписує додаткову угоду зі своїми плановими обсягами і починає споживати газ з ресурсу Нафтогаз Трейдингу.
            p.standart-text.scroll.sanimate До підписання додаткової угоди споживання природного газу виробником тепла з 1 квітня буде автоматично віднесено на Постачальника останньої надії.
            p.standart-text.scroll.sanimate Однак, якщо підприємство оформить угоду з Нафтогаз Трейдингом впродовж квітня, воно з 1 квітня буде переведено в реєстр споживачів цього постачальника і природний газ за увесь місяць споживання буде оформлюватись за цінами, встановленими Положенням про ПСО. Звісно ж, за наявності затверджених Мінінфраструктури фіксованих обсягів.
            p.standart-text.scroll.sanimate Відповідною постановою також продовжено дію спеціальних обов’язків (ПСО), покладених на Нафтогаз Трейдинг, щодо постачання природного газу бюджетним організаціям.
            p.standart-text.scroll.sanimate Компанія також вже розіслала відповідні додаткові угоди, які продовжують дію договорів до 30 квітня 2023 року.
        
        .scroll.sanimate
            blockquote 
                | Закликаємо відповідально поставитися до процесу підписання додаткових угод та інших необхідних процедур.