.page
    .header-part(data-bg="./img/illustrate/osbb.jpg" data-bg-mob="./img/illustrate/osbb.jpg")
        .blue-block
        h1.h1.sanimate.fadeInUp Для ОСББ
    .container-main
        .wrap-intro
                p.h2.title.s-20.scroll.sanimate 
                    | ТОВ Газопостачальну компанія “Нафтогаз Трейдинг” визначено постачальником природнього газу для постачальників тепла на території України в рамках дії постанови покладення спеціальних обов'язків  (ПСО)
                p.h2.title.s-20.scroll.sanimate 
                    |Про ціну газу дізнайтесь у відповідному розділі                  

        .tabs.cards           
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Порядок дій клієнта для для укладання договору постачання природного газу для виробників теплової енергії  - ОСББ, Обслуговуючих кооперативів, Житлово-будівельних кооперативів
                .panel
                    .lists-wrap 
                        p.standart-text.list-item.scroll.sanimate 
                            | Ознайомитись з умовами Договору
                            a.text-link(href="#")  за посиланням.
                        p.standart-text.list-item.scroll.sanimate 
                            | Заповнити Анкету, що розміщена на сайті 
                            a.text-link(href="#") за посиланням, 
                            | вказавши обсяги.
                        p.standart-text.list-item.scroll.sanimate Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text.scroll.sanimate 
                                | Супроводжуючий лист щодо укладання договору постачання природного газу, в якому вказати: період споживання природного газу, для яких потреб, місцезнаходження та реквізити споживача
                            li.standart-text.scroll.sanimate Cупроводжуючий лист - звернення щодо укладання договору постачання природного газу
                            li.standart-text.scroll.sanimate Анкета на заключення Договору постачання природного газу (в форматі Excel);
                            li.standart-text.scroll.sanimate Статут (актуальний)  
                            li.standart-text.scroll.sanimate Документи на підписанта   (погодження для підписанта на укладання договорів від Загальних зборів або від Правління (відповідно до статуту ОСББ, кооперативу тощо), протокол обрання керівника/представника; наказ, довіреність тощо)
                            li.standart-text.scroll.sanimate Протокол загальних зборів на обрання членів правління та обрання голови правління (якщо голову правління обирають загальні збори); протокол правління на обрання голови правління
                            li.standart-text.scroll.sanimate Виписка з ЄДР
                            li.standart-text.scroll.sanimate Витяг з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий протягом місяця)
                            li.standart-text.scroll.sanimate Витяг з реєстру на підтвердження Статусу платника податку (витяг з реєстру платників ПДВ або витяг з реєстру платників єдиного податку чи іншого податку відповідно до чинного податкового законодавства)
                            li.standart-text.scroll.sanimate Документи на право власності/ користування котельними. Для нових підприємств – Акт введення в експлуатацію котельні.
                            li.standart-text.scroll.sanimate Опитувальник для нових підприємств, крім ФОПів та державних установ
                            li.standart-text.scroll.sanimate Заява-приєднання (це додаток до Договору на розподіл, де прописано ЕІС-код підприємства.
                        p.standart-text.list-item.scroll.sanimate 
                            | Надіслати заповнену анкету та пакет документів електронною поштою: 
                            a.text-link(href="mailto:ngt@naftogaztrading.com.ua") ngt@naftogaztrading.com.ua                       
                        .gray-part
                            p.gray-title.scroll.sanimate Як оформити лист з договірною документацією:
                            p.standart-text.bold.scroll.sanimate 
                                span.bold Всі документи повинні бути:
                                br
                                span.bold а) відскановані окремими файлами належної якості;
                                br
                                span.bold б) назва файлу повинна відповідати змісту документа (наприклад “Статут”); 
                                br
                                span.bold в) Анкета обов’язково має бути заповнена в форматі Excel.
                            p.standart-text
                                span.bold В темі повідомлення вкажіть назву Підприємства та код ЄДРПОУ
                                | (наприклад, Тема: ОСББ «Сонячний зайчик» код 34659585).
                            p.standart-text
                                span.bold.scroll.sanimate  В тексті повідомлення зазначте ПІБ контактної особи (керівника або підписанта Договору), телефон, посаду.    
                        p.standart-text.list-item.scroll.sanimate
                            | Після отримання повного пакету документів, у випадку відсутності зауважень, працівниками Компанії буде підготовлено договір постачання природного газу, який буде надіслано Клієнту в електронних сервісах “Вчасно” або “M.E.Doc” для підписання.
                        .gray-part.scroll.sanimate
                            p.gray-title.align-left ЗАМОВЛЕНИЙ ОБСЯГ І (ФІКСОВАНИЙ) ТА ОБСЯГ ІІІ (ФІКСОВАНИЙ)  В ДОГОВОРІ НЕ МОЖЕ ПЕРЕВИЩУВАТИ РОЗРАХУНКОВІ ФІКСОВАНІ ОБСЯГИ   І ТА ІІІ,     НАДАНІ ПОСТАЧАЛЬНИКОМ.
                            p.standart-text.bold 
                                | Постачальником вже розраховані Обсяг І (фіксований) та Обсяг (ІІІ) на період з 16.04.2024 року до 31.08.2024 року (між опалювальний період), виходячи із середньоарифметичного значення обсягу фактичного викориcтання виробником теплової енергії природного газу згідно з актами приймання-передачі відповідних обсягів з ресурсу НАК “Нафтогаз України” (обсяги газу для відповідних категорій його використання) та ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (обсяги газу відповідно до укладених договорів).
                                | Підприємство/організація самостійно розподіляє по місяцях наданий розрахунковий Обсяг І (фіксований) та Обсяг ІІІ (фіксований).
                        .gray-part
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору» і відповідний проект Договору завантажується не сервіс обміну електронних документів «Vchasno.ua» або «M.E.Doc».
                    .margin-30
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Порядок оформлення обсягів спожитого природного газу об’єднаннями співвласників багатоквартирних будинків (ОСББ)
                .panel
                    .lists-wrap 
                        p.standart-text Порядок оформлення обсягів спожитого природного газу об’єднаннями співвласників багатоквартирних будинків (ОСББ)
                    .margin-30
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/money.svg", alt="") 
                    .text Як здійснюється оплата?
                .panel
                    .lists-wrap 
                        p.standart-text Для початку співпраці з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”, відповідно до внутрішніх документів Групи Нафтогаз, потенційний контрагент, юридична особа, має обов’язково пройти перевірку служби комплаєнсу до моменту укладення договору з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (надалі також – Товариство).
                    .margin-30