.page
    .header-part(data-bg="./img/illustrate/thermo.jpg" )
        .blue-block
        h1.h1.sanimate.fadeInUp Ціна газу
    .container-main 
        p Ціна на газ за категорями споживачів:
        .tabs.cards 
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Промисловість
                .panel
                    .lists-wrap 
                        p.standart-text Комерційна пропозиція надається та формується на основі та на дату звернення.
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Бюджетні організації
                .panel
                    .lists-wrap 
                        p.standart-text 16 553,89 грн за 1000 куб. м з ПДВ
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Релігійні організації
                .panel
                    .lists-wrap 
                        p.standart-text 16 553,89 грн за 1000 куб. м з ПДВ
                    .margin-30
            //* MAIN RICE BLOCK */
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Виробники теплової енергії
                .panel
                    .lists-wrap 
                        p.standart-text.list-item.blue 
                            span.bold З 01 вересня 2023 року по 31 серпня 2024 року, 
                            | згідно з механізмом Положення про покладення спеціальних обов’язків на суб’єктів ринку природного газу для забезпечення загальносуспільних інтересів у процесі функціонування ринку природного газу щодо особливостей постачання природного газу виробникам теплової енергії та бюджетним установам затвердженого постановою Кабінету Міністрів України №812 від 19 червня 2022 року, зокрема, пунктами 3—5 додатку до Положення визначено:
                        ul.dots-list
                            li.standart-text 
                                span.under ціна газу для обсягу I-фіксованого 
                                | ціна газу для обсягу I-фіксованого встановлюється на рівні, що діяв станом на 24 лютого 2022 р. за договором постачання природного газу на 2021—2024 роки з ТОВ «Газопостачальна компанія «Нафтогаз Трейдинг», і становить 7420 гривень з урахуванням податку на додану вартість за 1000 куб. метрів газу;
                            li.standart-text
                                span.under ціна газу для обсягу IIІ-фіксованого 
                                | встановлюється на рівні, що діяв станом на 24 лютого 2022 р. за договором постачання природного газу на 2021—2024 роки з ТОВ «Газопостачальна компанія «Нафтогаз Трейдинг», і становить 16 390 гривень з урахуванням податку на додану вартість за 1000 куб. метрів газу;
                            li.standart-text
                                span.under ціна природного газу для обсягу ІІ 
                                |  визначається щомісяця до 25 числа місяця, що передує місяцю постачання природного газу для виробника теплової енергії, за такою формулою: 
                        .attention-info  Р = Pueex х k1 х k2.
                        p.standart-text Позначення у цій формулі означають:
                        p.standart-text 
                            span.bold Р
                            | — ціна природного газу для виробника теплової енергії;
                        p.standart-text 
                            span.bold Pueex
                            | ― середньозважена ціна, що склалася на ресурс місяця, що передує місяцю постачання природного газу та склалася за результатами електронних біржових торгів на товарній біржі «Українська енергетична біржа» за всіма договорами, умовами оплати та базисами (в газотранспортній системі, газосховищах), та за всіма стандартизованими продуктами за напрямом «Природний газ», за період з 1 по 20 (включно) числа місяця за всі торгові дні місяця, з урахуванням податку на додану вартість, у гривнях за 1000 куб. метрів газу;
                        p.standart-text 
                            span.bold k1
                            | — коригуючий коефіцієнт, що враховує вартість грошей у часі за обліковою ставкою Національного банку та середнім очікуванням прострочення оплати виробників теплової на рівні 80 календарних днів, за лінійними розрахунками, що становить 1,055 (діє до травня 2024 року);
                        p.standart-text 
                            span.bold k2
                            | ― коригуючий коефіцієнт, націнка постачальника природного газу, що становить 1,050.
                        p.standart-text  Якщо протягом поточного місяця постачання природного газу не здійснювались електронні біржові торги на товарній біржі «Українська енергетична біржа» за всіма договорами, умовами оплати та базисами (в газотранспортній системі, газосховищах), ціна залишається на рівні попереднього місяця, що була розрахована за вищенаведеною формулою.
                        p.standart-text До цін, визначених пунктами 3—5 цього додатка, додається також тариф на послуги з транспортування природного газу для точки виходу та коефіцієнт, який застосовується у разі замовлення потужності на добу наперед.
                        p.standart-text Крім того до ціни газу додається:
                        ul.dots-list
                            li.standart-text податок на додану вартість за ставкою 20%,
                            li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.
                        p.standart-text 
                            span.under Ціна газу для Обсягу ІІ за 1000 куб.м 
                            | природного газу на червень 2024 року становить 13 757,04 грн без ПДВ.

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на липень 2024 року становить 13 565,72 грн без ПДВ
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.
                        
                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на червень 2024 року становить 13 757,04 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.br>

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на травень 2024 року становить 12 734,64 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на квітень 2024 року становить 12 412,17 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на березень 2024 року становить 13 120,37 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.
                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на лютий 2024 року становить 13 742,27 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.
                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на грудень 2023 року становить 15 050,17 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.
                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на листопад 2023 року становить 16 414,84 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м.

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на жовтень 2023 року становить 16 802,50 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text 
                                            | тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м

                        .inner-tab
                            .accordion
                                .text Ціна газу для Обсягу ІІ за 1000 куб. м природного газу на вересень 2023 року становить 16 475,16 грн без ПДВ.
                            .panel
                                .lists-wrap
                                    p.standart-text Крім того до ціни газу додається:
                                    ul.dots-list
                                        li.standart-text податок на додану вартість за ставкою 20%,
                                        li.standart-text 
                                            | тариф на послуги транспортування природного газу для внутрішньої точки виходу з газотранспортної системи – 124,16 грн. без ПДВ, коефіцієнт, який застосовується при замовленні потужності на добу наперед у відповідному періоді на рівні 1,10 умовних одиниць, всього з коефіцієнтом – 136,576 грн., крім того ПДВ 20% - 27,315 грн., всього з ПДВ – 163,89 грн. за 1000 куб. м. *за договорами ПСО ціни для обсягу І та ІІІ діють до 31 серпня 2024 року. Ціна для обсягу ІІ визначається щомісячно.
                        
                        p.standart-text *за договорами ПСО ціни для обсягу І та ІІІ діють до 31 серпня 2024 року. Ціна для обсягу ІІ визначається щомісячно.
                        
                        p.standart-text.list-item.blue 
                            span.bold З 01.09.2022 року по 31.08.202З, 
                            | згідно з механізмом Положення про покладення спеціальних обов’язків на суб’єктів ринку природного газу для забезпечення загальносуспільних інтересів у процесі функціонування ринку природного газу щодо особливостей постачання природного газу виробникам теплової енергії та бюджетним установам затвердженого постановою Кабінету Міністрів України №812 від 19 липня 2022 року*
                            br
                            | Обсяг І - 7 583,89 грн.
                            br
                            | Обсяг ІІІ - 16 553,89 грн.
                            br
                            | Обсяг ІІ - 38 489,40 грн.
                            br
                            | *ціни за договорами ПСО діяли з 1 вересня 2022 року до 31 серпня 2023 року.

                        p.standart-text.list-item.blue 
                            span.bold За довгостроковими (трирічними) договорами*                           
                            br
                            | Обсяг І - 29 391,55 грн.
                            br
                            | Обсяг ІІІ - 56 828,68 грн.
                            br
                            | Обсяг ІІ - 19 634,91 грн. (ціна на квітень 2023р.)
                            br
                            | *за трирічними договорами ціни для обсягу І та ІІІ діють до 31 травня 2023 року. Ціна для обсягу ІІ визначається щомісячно. всі ціни вказані з ПДВ та з урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед


                        .margin-30
            
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Для надання послуг з гарячого водопостачання
                .panel
                    .lists-wrap 
                        p.standart-text Обсяг І, з червня по липень 2022 року становить 7 583,89 грн за 1 000 куб.м (з ПДВ та з урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед).
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Для забезпечення всіх інших власних потреб
                .panel
                    .lists-wrap 
                        p.standart-text Обсяг ІІ, на червень 2022 року визначена на рівні 29 485,50 грн за 1000 куб. м (з ПДВ та з урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед).
                    .margin-30
            .wrap-tab
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Підприємства , які мають договірні відносини з побутовими споживачами та увійшли у ПСО
                .panel
                    .lists-wrap 
                        p.standart-text Ціна встановлюється відповідно до Постанови КМУ від 29 квітня 2022 року.
                    .margin-30
            .card-link 
                a(href="#").card-icon-place 
                    img(src="./img/icons/pdf.svg", alt="icon")
                .card-text-block 
                    a(href="#").h2.thin Архів цін
                .card_load 
                    // Якщо посилання - то "перейти", якщо скачування - "завантажити"
                    a(href="#").pseudo-link  Завантажити