.page
    .header-part(data-bg="./img/illustrate/docs-d.jpg" data-bg-mob="./img/illustrate/docs-m.jpg")
        .blue-block
        h1.h1.sanimate.fadeInUp Газ для виробників тепла
    .container-main
        .wrap-intro
                p.h2.title.s-20.scroll.sanimate 
                    span.bold  До 31 серпня 2024 року
                    |  продовжують діяти спеціальні обов’язки (ПСО), покладені  на “Нафтогаз Трейдинг” щодо постачання природного газу теплопостачальним підприємствам.
                p.h2.title.s-20.scroll.sanimate 
                    | Компанія забезпечує природнім газом теплопостачальні підприємства (ТКЕ) усіх 1439 громад.
                p.h2.title.s-20.scroll.sanimate Про ціну газу дізнайтесь у відповідному розділі.
        .tabs.cards           
            .wrap-tab.scroll.sanimate            
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text 
                        | Порядок дій клієнта для для укладання договору постачання природного газу для виробника теплової енергії 
                        span.bold - товариство з обмеженною відповідальністю
                .panel
                    .lists-wrap 
                        p.standart-text.list-item 
                            | Ознайомитись з умовами
                            a(href="#").text-link  Договору. 
                        p.standart-text.list-item Заповнити Анкету, що розміщена на сайті за посиланням, вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text  
                                | Супроводжуючий лист щодо укладання договору постачання природного газу, в якому вказати: період споживання природного газу, для яких потреб, місцезнаходження та реквізити споживача
                            li.standart-text Статут (актуальний)
                            li.standart-text Баланс за останній звітній період та річний
                            li.standart-text Документи на підписанта (протокол Загальних зборів/ Рішення учасників про обрання керівника, розпорядження, наказ, довіреність тощо) 
                            li.standart-text Дозвіл від Загальних зборів/ Учасника на підписання правочину (в разі необхідності) та документи на підтвердження повноважень представників учасників, що приймали участь у зборах 
                            li.standart-text  Виписка з ЄДР
                            li.standart-text  Витяг з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий протягом місяця)
                            li.standart-text  Витяг з реєстру на підтвердження Статусу платника податку (витяг з реєстру платників ПДВ або витяг з реєстру платників єдиного податку чи іншого податку відповідно до чинного податкового законодавства)
                            li.standart-text  Документи на право власності/ користування котельними. Для нових підприємств – Акт введення в експлуатацію котельні.
                        p.standart-text.list-item 
                            | Надіслати заповнену анкету та пакет документів електронною поштою: 
                            a(href="#").text-link ngt@naftogaztrading.com.ua
                        .gray-part
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору» і відповідний проект Договору завантажується не сервіс обміну електронних документів «Vchasno.ua» або «M.E.Doc».
                        .gray-part.disable-grey
                            p.gray-title Звертаємо увагу! 
                            p.standart-text.bold 
                                | Звертаємо увагу на те, Постачальником вже розраховані Обсяг І (фіксований) та Обсяг (ІІІ) на період з 16.04.2024 року до 31.08.2024 року (міжопалювальний період), виходячи із середньоарифметичного значення обсягу фактичного викориcтання виробником теплової енергії природного газу згідно з актами приймання-передачі відповідних обсягів з ресурсу НАК “Нафтогаз України” (обсяги газу для відповідних категорій його використання) та ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (обсяги газу відповідно до укладених договорів).
                                | Підприємство/організація самостійно розподіляє по місяцях наданий розрахунковий Обсяг І (фіксований) та Обсяг ІІІ (фіксований).
                                | ЗАМОВЛЕНИЙ ОБСЯГ І (фіксований) ТА ОБСЯГ ІІІ (фіксований)  В ДОГОВОРІ НЕ МОЖЕ ПЕРЕВИЩУВАТИ РОЗРАХУНКОВІ ФІКСОВАНІ ОБСЯГИ   І та ІІІ,     НАДАНІ ПОСТАЧАЛЬНИКОМ.   
            .wrap-tab.scroll.sanimate            
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text 
                        | Порядок дій клієнта для для укладання договору постачання природного газу для виробника теплової енергії 
                        span.bold - комунальне підприємство
                .panel
                    .lists-wrap 
                        p.standart-text.list-item 
                            | Ознайомитись з умовами
                            a(href="#").text-link  Договору. 
                        p.standart-text.list-item 
                            | Заповнити Анкету, що розміщена на сайті 
                            a(href="#").text-link за посиланням, 
                            | вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text  
                                | Супроводжуючий лист щодо укладання договору постачання природного газу, в якому вказати: період споживання природного газу, для яких потреб, місцезнаходження та реквізити споживача
                            li.standart-text Статут (актуальний)

                            li.standart-text Документи на підписанта (Рішення органу, до сфери управління якого входить підприємство, про обрання керівника; Розпорядження про призначення керівника; Наказ; Довіреність; Контракт (у разі наявності - усі додаткові угоди на продовження дії Контракту, якщо Контракт не укладався, то лист на підтвердження)   тощо)
                            li.standart-text Документи на підписанта (протокол Загальних зборів/ Рішення учасників про обрання керівника, розпорядження, наказ, довіреність тощо) 
                            li.standart-text  Виписка з ЄДР                            
                            li.standart-text  Витяг з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий протягом місяця)
                            li.standart-text  Витяг з реєстру на підтвердження Статусу платника податку (витяг з реєстру платників ПДВ або витяг з реєстру платників єдиного податку чи іншого податку відповідно до чинного податкового законодавства)
                            li.standart-text  Документи на право власності/ користування котельними. Для нових підприємств – Акт введення в експлуатацію котельні.
                            li.standart-text Ліцензії на виробництво, транспортування, постачання теплової енергії
                            li.standart-text Баланс за останній звітній період та річний
                            li.standart-text Опитувальник для нових підприємств, крім ФОПів та державних установ
                            li.standart-text Заява-приєднання (це додаток до Договору на розподіл, де прописано ЕІС-код підприємства)
                        p.standart-text.list-item 
                            | Передати заповнену Анкету та пакет документів направивши електронною поштою на пошту менеджера Вашого регіону 
                            a(href="#").text-link  (Контакти).
                        p.standart-text.list-item
                            | Після отримання повного пакету документів, у випадку відсутності зауважень, працівниками Компанії буде підготовлено договір постачання природного газу, який буде надіслано Клієнту в електронних сервісах “Вчасно” або “M.E.Doc” для підписання
                        .gray-part
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору» і відповідний проект Договору завантажується не сервіс обміну електронних документів «Vchasno.ua» або «M.E.Doc».
                        .gray-part.disable-grey
                            p.gray-title Звертаємо увагу! 
                            p.standart-text.bold 
                                | Звертаємо увагу на те, Постачальником вже розраховані Обсяг І (фіксований) та Обсяг (ІІІ) на період з 16.04.2024 року до 31.08.2024 року (між опалювальний період), виходячи із середньоарифметичного значення обсягу фактичного викориcтання виробником теплової енергії природного газу згідно з актами приймання-передачі відповідних обсягів з ресурсу НАК “Нафтогаз України” (обсяги газу для відповідних категорій його використання) та ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (обсяги газу відповідно до укладених договорів).
                                | Підприємство/організація самостійно розподіляє по місяцях наданий розрахунковий Обсяг І (фіксований) та Обсяг ІІІ (фіксований).
                                | ЗАМОВЛЕНИЙ ОБСЯГ І (фіксований) ТА ОБСЯГ ІІІ (фіксований)  В ДОГОВОРІ НЕ МОЖЕ ПЕРЕВИЩУВАТИ РОЗРАХУНКОВІ ФІКСОВАНІ ОБСЯГИ   І та ІІІ,     НАДАНІ ПОСТАЧАЛЬНИКОМ.
                    .margin-30
            .wrap-tab.scroll.sanimate            
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text 
                        | Порядок дій клієнта для для укладання договору постачання природного газу для виробника теплової енергії 
                        span.bold - акціонерне товариство
                .panel
                    .lists-wrap 
                        p.standart-text.list-item 
                            | Ознайомитись з умовами
                            a(href="#").text-link  Договору. 
                        p.standart-text.list-item 
                            | Заповнити Анкету, що розміщена на сайті 
                            a(href="#").text-link за посиланням, 
                            | вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text  
                                | Супроводжуючий лист щодо укладання договору постачання природного газу, в якому вказати: період споживання природного газу, для яких потреб, місцезнаходження та реквізити споживача
                            li.standart-text Статут (актуальний)

                            li.standart-text Баланс за останній звітній період та річний
                            li.standart-text Документи на підписанта (протокол Загальних зборів/ Рішення учасників про обрання керівника, розпорядження, наказ, довіреність тощо)
                            li.standart-text Дозвіл від Загальних зборів/ Учасника на підписання правочину (в разі необхідності) та документи на підтвердження повноважень представників учасників, що приймали участь у зборах
                            li.standart-text Виписка з ЄДР                           
                            li.standart-text Витяг з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий протягом місяця)
                            li.standart-text Витяг з реєстру на підтвердження Статусу платника податку (витяг з реєстру платників ПДВ або витяг з реєстру платників єдиного податку чи іншого податку відповідно до чинного податкового законодавства)
                            li.standart-text Документи на право власності/ користування котельними. Для нових підприємств – Акт введення в експлуатацію котельні.
                        p.standart-text.list-item 
                            | Передати заповнену Анкету та пакет документів направивши електронною поштою на пошту менеджера Вашого регіону 
                            a(href="#").text-link  (Контакти).
                        p.standart-text.list-item
                            | Після отримання повного пакету документів, у випадку відсутності зауважень, працівниками Компанії буде підготовлено договір постачання природного газу, який буде надіслано Клієнту в електронних сервісах “Вчасно” або “M.E.Doc” для підписання
                        .gray-part
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору» і відповідний проект Договору завантажується не сервіс обміну електронних документів «Vchasno.ua» або «M.E.Doc».
                        .gray-part.disable-grey
                            p.gray-title Звертаємо увагу! 
                            p.standart-text.bold 
                                | Звертаємо увагу на те, Постачальником вже розраховані Обсяг І (фіксований) та Обсяг (ІІІ) на період з 16.04.2024 року до 31.08.2024 року (між опалювальний період), виходячи із середньоарифметичного значення обсягу фактичного викориcтання виробником теплової енергії природного газу згідно з актами приймання-передачі відповідних обсягів з ресурсу НАК “Нафтогаз України” (обсяги газу для відповідних категорій його використання) та ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (обсяги газу відповідно до укладених договорів).
                                | Підприємство/організація самостійно розподіляє по місяцях наданий розрахунковий Обсяг І (фіксований) та Обсяг ІІІ (фіксований).
                                | ЗАМОВЛЕНИЙ ОБСЯГ І (фіксований) ТА ОБСЯГ ІІІ (фіксований)  В ДОГОВОРІ НЕ МОЖЕ ПЕРЕВИЩУВАТИ РОЗРАХУНКОВІ ФІКСОВАНІ ОБСЯГИ   І та ІІІ,     НАДАНІ ПОСТАЧАЛЬНИКОМ.
                        .margin-30
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/money.svg", alt="") 
                    .text Як здійснюється оплата?
                .panel
                    .lists-wrap 
                        p.standart-text Для початку співпраці з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”, відповідно до внутрішніх документів Групи Нафтогаз, потенційний контрагент, юридична особа, має обов’язково пройти перевірку служби комплаєнсу до моменту укладення договору з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (надалі також – Товариство).
                    .margin-30