.page
    .header-part(data-bg="./img/illustrate/religion.jpg" )
        .blue-block
        h1.h1.sanimate.fadeInUp Газ для релігійних організацій
    .container-main
        .wrap-intro
                p.h2.title.s-20.scroll.sanimate 
                    | ТОВ Газопостачальну компанія “Нафтогаз Трейдинг” визначено постачальником природнього газу для релігійних організацій на території України в рамках дії в рамках дії постанови покладення спеціальних обов'язків 
                    span.bold  (ПСО)  до 31 серпня 2024 року.
                p.h2.title.s-20.scroll.sanimate 
                    | З урахуванням тарифу на послуги транспортування та коефіцієнту, який застосовується при замовленні потужності на добу наперед
                    spn.bold ціна газу за 1000 куб.м становить 16 553,89 грн з ПДВ.
        .tabs.cards           
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/docs.svg", alt="")
                    .text Порядок дій клієнта для укладення договору постачання природного газу для релігійних організацій
                .panel
                    .lists-wrap 
                        p.standart-text.list-item Ознайомитись з умовами 
                            a(href="#").text-link Договору. 
                        p.standart-text.list-item Заповнити Анкету, що розміщена на сайті за посиланням, вказавши обсяги.
                        p.standart-text.list-item Разом з Анкетою надати наступні документи:
                        ul.dots-list                 
                            li.standart-text 
                                | Лист-звернення про намір  укласти договір закупівлі без використання електронної системи закупівель з певним обґрунтуванням підписання договору 
                                a.text-link(href="#") (Зразок)
                            li.standart-text Cупроводжуючий лист - звернення щодо укладання договору постачання природного газу
                            li.standart-text Статут, Положення тощо
                            li.standart-text Витяг з Єдиного державного реєстру юридичних осіб та фізичних осіб-підприємців (актуальний, отриманий протягом місяця)
                            li.standart-text Витяг  з реєстру платників ПДВ (за наявності)
                            li.standart-text Заява-приєднання (це додаток до Договору на розподіл( з Вашим облгазом), де прописано ЕІС-код підприємства)
                            li.standart-text Додаток 4 до Типового договору розподілу( з Вашим облгазом) природного газу, який додається до заяви-приєднання (за наявності)
                            li.standart-text Документ на підтвердження повноважень особи, яка підписуватиме Договір зі сторони Споживча (протокол, рішення, наказ, довіреність тощо)
                            li.standart-text Документ, що підтверджує право власності на об'єкт споживача або на землю де розташований об’єкт – ОБОВ’ЯЗКОВО
                            li.standart-text Опитувальник (якщо раніше Ви його не заповнювали)
                        p.standart-text.list-item 
                            | Надіслати заповнену анкету та пакет документів електронною поштою: 
                            a.text-link(href="mailto:ngt@naftogaztrading.com.ua") ngt@naftogaztrading.com.ua
                        p.standart-text.list-item 
                            | Після отримання повного пакету документів, у випадку відсутності зауважень, працівниками Компанії буде підготовлено договір постачання природного газу, який буде надіслано Клієнту в електронних сервісах «Вчасно» або «МEDOC» для підписання. 
                        p.standart-text  У випадку відсутності можливості у Клієнта використовувати електронні сервіси для підписання документів, примірник договору буде відправлено на електронну пошту в форматі .pdf для роздрукування та оформлення належним чином (підпис, печатка) у двох екземплярах, які разом із оригіналом листа звернення, документами перерахованими вище направляються Укрпоштою або Новою поштою на адресу Компанії, а саме:
                        p.standart-text  
                            span.bold   - м. Київ, вул. Шолуденко, 1. 
                            br 
                            span.bold Отримувач ТОВ «Газопостачальна компанія
                            br
                            span.bold «Нафтогаз Трейдинг» 
                        p.standart-text
                            span.bold Примітка: 
                            | підписант (керівник/довірена особа) має особисто підписати договори. 
                        p.standart-text Клієнт може отримати консультації стосовно порядку оформлення договорів зателефонувавши до контакт-центру: 044-222-24-46
                        p.standart-text.list-item Менеджер, відповідальний за укладання договору, після отримання договору та пакета документів опрацьовує їх. У разі відсутності зауважень, договір підписується з боку Компанії, йому присвоюється номер і дату (споживач може надати свій номер договору), заносяться реквізити договору в електронну базу Компанії, один екземпляр договору повертає споживачу.

                        p.standart-text.list-item  Зміни до укладених договорів оформлюються додатковими угодами, якщо це передбачено умовами договору. Порядок роботи з додатковими угодами (отримання, узгодження, підписання тощо) відповідає порядку роботи з договорами.
                        .gray-part
                            p.gray-title ВАЖЛИВО!
                            p.standart-text.bold 
                                | Договір Споживач не заповнює. Вся інформація, яка зазначається в Договорі, заповнюється працівниками Товариства з реквізитами, який надає Споживач в «Анкеті заключення договору».
                    .margin-30
            .wrap-tab.scroll.sanimate
                .accordion.card-link 
                    .icon-money
                        img(src="./img/icons/money.svg", alt="") 
                    .text Як здійснюється оплата?
                .panel
                    .lists-wrap 
                        p.standart-text Для початку співпраці з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг”, відповідно до внутрішніх документів Групи Нафтогаз, потенційний контрагент, юридична особа, має обов’язково пройти перевірку служби комплаєнсу до моменту укладення договору з ТОВ “Газопостачальна компанія “Нафтогаз Трейдинг” (надалі також – Товариство).
                    .margin-30