footer.footer
    .footer-wrap
        .footer-container
            .links-block 
                p.links-header Про компанію
                ul.links-list 
                    li.links_li 
                        a(href="#" aria-label="Історія" ).links_a Історія
                    li.links_li 
                        a(href="#" aria-label="Мета і переваги").links_a Мета та переваги
                    li.links_li 
                        a(href="#" aria-label="Платформи").links_a Торгівельні платформи
            .links-block 
                p.links-header Документи
                ul.links-list 
                    li.links_li 
                        a(href="#" aria-label="Нормативні документи").links_a Нормативні документи
                    li.links_li 
                        a(href="#" aria-label="Вирішення спорів" ).links_a Способи вирішення спорів
                    li.links_li 
                        a(href="#" aria-label="Укладання договору" ).links_a Порядок укладання договору
                    li.links_li 
                        a(href="#" aria-label="Зразки договорів" ).links_a Зразки договорів
            .links-block 
                p.links-header Новини
                ul.links-list 
                    li.links_li 
                        a(href="#" aria-label="Оголошення" ).links_a Оголошення для діючих клієнтів
                    li.links_li 
                        a(href="#" aria-label="Ціна газу").links_a Ціна газу
                    li.links_li 
                        a(href="#" aria-label="Новини").links_a Новини групи Нафтогаз
            .links-block.contacts-part 
                p.links-header Контакти
                ul.links-list 
                    li.links_li.contacts-li 
                        img.contacts-img(src="./img/icons/mail-white.svg", alt="") 
                        a(href="mailto:ngt@naftogaztrading.com.ua" aria-label="посилання на пошту" ).links_a ngt@naftogaztrading.com.ua 
                    li.links_li.contacts-li 
                        img.contacts-img(src="./img/icons/local-white.svg", alt="") 
                        a(href="https://maps.app.goo.gl/7rjgAHsNDMLR2vER7" aria-label="посилання на гугл-карту").links_a м. Київ, вул. Шолуденка, будинок 1
                    li.links_li.contacts-li 
                        img.contacts-img(src="./img/icons/phone-white.svg", alt="") 
                        a(href="phone:+380443647654" aria-label="Телефоний номер").links_a (044)364-76-54 (Канцелярія)
        .copy-block 
            p.copy Всі матеріали на цьому сайті розміщені на умовах ліцензії  Creative Commons Attribution 4.0 International» Copyright © 2018 - 2024 Газопостачальна компанія «Нафтогаз Трейдинг»

