script(src=jsPath + "header.js" defer)


if mainPage
  script(src=jsPath + "./../plugins/jquery/jquery.slim.min.js" defer)
  script(src=jsPath + "./../plugins/slick-1.8.1/slick/slick.js" defer)
  script(src=jsPath + "main.js" defer)
