link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Circe:wght@400;500;600;700;800;900&display=swap' rel='stylesheet')

link(rel="stylesheet", href=cssPath + "style.min.css")

if mainPage
    link(href="./plugins/slick-1.8.1/slick/slick.css" type="text/css" rel="stylesheet")
    link(href="./plugins/slick-1.8.1/slick/slick-theme.css" type="text/css" rel="stylesheet")

