link(rel="stylesheet" href=cssPath + "style.min.css")

if mainPage
    link(href=plugins + "slick-1.8.1/slick/slick.css" type="text/css" rel="stylesheet")
    link(href=plugins + "slick-1.8.1/slick/slick-theme.css" type="text/css" rel="stylesheet")
